.select {
  height: 1.75rem;
  width: 200px;
  min-width: 5rem;
  position: relative;

  > select {
    -webkit-appearance: none;
    appearance: none;
    line-height: normal;
    border: 2px solid var(--stroke-color);
    border-radius: var(--border-radius-small);
    padding: 0 1.75rem 0 0.5rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    > option {
      &:checked {
        background-color: var(--primary-color);
        color: white;
      }

      &:hover {
        border-color: transparent;
        background-color: yellowgreen;
      }
    }

    &:hover {
      border-color: var(--highlight-font-color);
    }

    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
  }

  &::after {
    content: '';
    top: 25%;
    right: 0.5rem;
    position: absolute;
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--caret-color);
    mask-image: url(~resources/icons/arrow-down.svg);
    -webkit-mask-image: url(~resources/icons/arrow-down.svg);
  }
}
