.search-dialog {
  width: 650px;
  margin-bottom: 20vh;
  background-color: var(--foreground-color);
}

#search-form {
  .bp3-popover-target {
    width: 100%;
  }

  .bp3-dialog-footer {
    margin-top: 1rem;

    #functions-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }

    #actions-bar {
      float: right;
    }
  }

  .criteria {
    display: flex;
    margin-bottom: 0.25rem;

    // Criteria field alignment (fixed width)
    padding: 0px;
    .bp3-input {
      width: 275px !important;
    }
    > div,
    > span {
      border-right: 1px solid rgba(var(--background-separator-color), 0.75); // Note: SASS accepts hex values in rgba()
      max-width: 150px !important;
      width: 150px !important;
    }
    > *:nth-child(3) {
      max-width: 275px !important;
      border-right: none !important;
    }

    > .btn:last-child {
      flex-grow: 0;
      margin-left: 8px;
      line-height: 0;
      font-size: 16px;
      max-width: 32px;
      min-height: 24px;
    }
  }

  .bp3-popover-wrapper,
  .bp3-tag-input-values {
    // input {
    max-width: 200px;
  }
}
