.search-dialog {
  // padding: 20px;
  // width: 560px;

  .bp3-heading {
    // line-height: 19px;
    // font-size: 18px;
    // font-weight: 500;
  }
}

#search-form {
  .bp3-popover-target {
    width: 100%;
  }

  #actions-bar {
    margin-top: 1rem;
    float: right;
  }
  #functions-bar {
    margin-top: 1rem;
    display: inline-flex;
    float: left;
    > * {
      margin-right: 1rem;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .criteria {
    display: flex;
    margin-bottom: 0.25rem;

    .bp3-control-group {
      padding: 0px;
    }

    .add-remove {
      flex-grow: 0;
      margin-left: 8px;

      button {
        min-width: 15px;
        min-height: 15px;
        width: 15px;
        height: 15px;
        line-height: 0;
        padding: 0;
        font-size: 16px;
      }

      button:hover * {
        line-height: 0;
      }
    }

    .remove {
      flex-grow: 0;
      margin-left: 8px;

      line-height: 0;
      padding: 0;
      font-size: 16px;
      width: 15px;
      // min-width: 15px;
    }
  }

  .bp3-popover-wrapper,
  .bp3-tag-input-values {
    // input {
    max-width: 200px;
  }
}
