#toolbar {
  justify-content: stretch;

  .toolbar-button {
    padding: 0.25rem;
    margin: 0.25rem;

    &[aria-pressed='true'],
    &[aria-checked='true'] {
      color: var(--text-color-strong);
    }
  }

  .spacer {
    flex-grow: 1;
  }
}

.searchbar {
  padding: 0.25rem;
  flex-grow: 1;
  min-width: 3rem;

  > .input {
    max-height: 2rem;
    overflow: hidden auto;
  }

  .btn-icon-large {
    color: var(--text-color-muted);
    &:hover {
      color: var(--text-color);
    }

    .custom-icon {
      height: 1.25em;
      width: 1.25em;
    }
  }

  // For indicating certain tags can be "system-tags" (for instance: Untagged images)
  .italic {
    font-style: italic;
  }
}

.deletion-confirmation-list {
  max-height: 5rem;
  min-height: 2rem;
  overflow: auto;
  font-size: smaller;
  > div {
    white-space: nowrap;
  }
}
