html,
body,
#app,
#layout-container,
#preview {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0px;
  overflow: hidden;
  position: relative;
}

// Global specific styles for the main window
#app {
  --thumbnail-size: 250px;
  --thumbnail-margin: 0.25rem;
  --mac-system-buttons-width: 5rem;
}

// Preview window layout definition
#preview {
  --window-titlebar-height: 0px; // No custom frame: Native title bar is currently enabled on all platforms
  --content-top: var(--toolbar-height);
}

#window-splitter {
  position: absolute;
  top: var(--window-titlebar-height);
  bottom: 0;
  left: 0;
  right: 0;
}

#main {
  position: relative;
}

#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--toolbar-height);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  background: var(--background-color);
}

[data-os='darwin'] #outliner[aria-expanded='false'] ~ main #toolbar {
  padding-left: var(--mac-system-buttons-width);
}

#outliner {
  position: relative;
  border-right: 0.0625rem solid var(--border-color);
  background: var(--background-color-alt);

  &[aria-expanded='false'] {
    overflow: hidden;
  }
}

#content-view {
  position: absolute;
  top: var(--toolbar-height);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0.5rem;
  background: var(--background-color);
}

// Conditional

// Main window layout definition
#layout-container {
  &[data-os='darwin'] {
    // Mac has traffic light buttons integrated in the AppToolbar
    --window-titlebar-height: 0px;

    // Since the toolbar is acting as the frame, it should be draggable to move the window around
    #outliner-toggle, // renamed to #togglebar in new design?
    #toolbar {
      -webkit-app-region: drag;
      button {
        // But all of the buttons should not be draggable, else not clickable
        -webkit-app-region: none;
      }
    }
  }
  &[data-fullscreen='true'] {
    // Hide the system toolbar on fullscreen
    --window-titlebar-height: 0px;
  }

  // The top offset where the main content of the application starts (below the custom titlebar and toolbar)
  // Needs to be defined here instead of in the `themes.scss` file - where the OS is known
  --content-top: calc(var(--toolbar-height) + var(--window-titlebar-height));
}

#toast-container {
  position: absolute;
  right: 1rem;
  bottom: 0rem;
}
