html,
body,
#app,
#layout-container,
#preview {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0px;
  overflow: hidden;
  position: relative;
}

// Global specific styles for the main window
#app {
  --thumbnail-size: 250px;
  --thumbnail-margin: 0.25rem;
  --mac-system-buttons-width: 5rem;
}

// Preview window layout definition
#preview {
  --window-titlebar-height: 0px; // No custom frame: Native title bar is currently enabled on all platforms
  --content-top: var(--toolbar-height);

  #toolbar {
    left: 0; // No #outliner-toggle
  }
  #content-view {
    left: 0; // No outliner
  }
}

#toolbar {
  position: absolute;
  top: var(--window-titlebar-height);
  left: var(--outliner-width);
  right: 0;
  height: var(--toolbar-height);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  background: var(--background-color);
}

[data-os='darwin'] {
  #outliner.outliner-is-closed ~ #toolbar {
    padding-left: var(--mac-system-buttons-width);
  }
}

#outliner {
  position: absolute;
  top: var(--window-titlebar-height);
  bottom: 0;
  left: 0;
  width: var(--outliner-width);
  border-right: 0.0625rem solid var(--border-color);
  background: var(--background-color-alt);
}

#outliner.outliner-is-closed {
  transform: translateX(-100%);
}

#outliner-splitter {
  position: absolute;
  top: var(--window-titlebar-height);
  left: var(--outliner-width);
  bottom: 0;
  z-index: 1;

  margin-left: -0.125rem; // align it with the actual outliner edge

  width: 0.25rem;
  opacity: 0;
  cursor: col-resize;
}

#content-view {
  position: absolute;
  top: var(--content-top);
  left: var(--outliner-width);
  right: 0;
  bottom: 0;
  padding: 0 0.5rem;
  background: var(--background-color);
  display: flex;
  justify-content: stretch;
  overflow-y: hidden;
}

#outliner.outliner-is-closed ~ #content-view,
#outliner.outliner-is-closed ~ #toolbar {
  left: 0;
}

// Conditional

// Main window layout definition
#layout-container {
  &[data-os='darwin'] {
    // Mac has traffic light buttons integrated in the AppToolbar
    --window-titlebar-height: 0px;

    // Since the toolbar is acting as the frame, it should be draggable to move the window around
    #outliner-toggle, // renamed to #togglebar in new design?
    #toolbar {
      -webkit-app-region: drag;
      button {
        // But all of the buttons should not be draggable, else not clickable
        -webkit-app-region: none;
      }
    }
  }
  &[data-fullscreen='true'] {
    // Hide the system toolbar on fullscreen
    --window-titlebar-height: 0px;
  }

  // The top offset where the main content of the application starts (below the custom titlebar and toolbar)
  // Needs to be defined here instead of in the `themes.scss` file - where the OS is known
  --content-top: calc(var(--toolbar-height) + var(--window-titlebar-height));
}
