///////////////////////////////// Outliner /////////////////////////////////

// CONTAINER

#outliner [role='toolbar'] button {
  border-radius: 0.125rem;
}

#outliner-content {
  // Show y scrollbar when there's loads of tags or location list items
  overflow-x: hidden;
  position: absolute;
  bottom: 2.5rem;
  left: 0rem;
  right: 0rem;

  top: 0.5rem;

  &:hover header [role='toolbar'] {
    opacity: 1;
  }
}

.section {
  margin-bottom: 0.5rem;

  // Show an outline to indicate the section needs attention
  &.attention {
    > div {
      padding: 1rem;
      i {
        text-decoration: none;
        color: var(--text-color);
      }
    }
    // Show all buttons, even without hover
    header div {
      opacity: 1;
    }
  }
}

// HIERARCHY

#tree-footer {
  flex: 1;
  min-height: 1rem;
}

#tag-hierarchy {
  .btn-icon {
    display: none;
  }

  .tree-content-label:hover > .btn-icon {
    display: flex;
  }

  &.selected {
    .btn-icon {
      display: flex;
    }
  }
}

// HEADER

#outliner-content header {
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 1rem;

  h2 {
    cursor: pointer;
    flex-grow: 1;
  }

  [role='toolbar'] {
    opacity: 0;
  }

  [role='toolbar']:focus-within {
    opacity: 1;
  }

  .toolbar-button {
    min-height: 1.5rem;
    min-width: 1.5rem;

    &[aria-pressed='true'],
    &[aria-checked='true'] {
      color: var(--accent-color-blue);
    }
  }
}

// LIST

.tree-content-label {
  display: flex;
  align-items: center;
  height: 1.5rem;
  width: 100%;
  white-space: nowrap;

  span {
    display: inline-flex;
  }

  // Invisible border for elimitating content resizing when adding border
  border: 2px solid transparent;
  margin-left: -2px;

  &[data-dnd-target='true'] {
    color: var(--accent-color-blue);
    border: 2px solid transparent;

    &.center {
      border: 2px solid var(--accent-color-blue);
    }

    &.top {
      border-top: 2px solid var(--accent-color-blue);
    }

    &.bottom {
      border-bottom: 2px solid var(--accent-color-blue);
    }
  }

  &[data-dnd-source='true'] {
    opacity: 0.25;
  }

  .custom-icon {
    margin-right: 0.375rem;
    pointer-events: none;
  }

  > .btn-icon {
    cursor: pointer;
    margin-left: 0.25rem;

    > .custom-icon {
      margin-right: 0.125rem;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    line-height: 1.5;
    padding-bottom: 2px;
  }

  input {
    width: 100%;
  }
}

// ACTIONBAR

#actionbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5rem;
  justify-content: center;

  .toolbar-button {
    margin: 0.5rem 0.25rem;
    padding: 0.25rem;

    &:active,
    &:hover,
    &[aria-pressed='true'],
    &[aria-checked='true'] {
      color: var(--accent-color-blue);
    }
  }

  span {
    margin: 0 0.125rem;
    font-size: 0.6875rem;
    font-weight: bold;
  }
}
