.floating-dialog {
  position: absolute;
  width: 25rem;
  top: calc(var(--toolbar-height) + 1rem);
  left: 50%;
  transform: translate(-50%, 0);
}

#tag-editor {
  height: 14rem;
  min-height: 10rem;
  max-height: 32rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  resize: vertical;

  > input {
    margin: 0.5rem;
    width: auto;
    height: auto;
  }

  [role='grid'] {
    flex: 1;
    border-top: 0.0625rem solid var(--border-color);
    border-bottom: 0.0625rem solid var(--border-color);
    max-width: unset;

    [role='separator'] {
      background: var(--text-color-muted);
      height: 1px;
      margin: 0.5rem 1rem;
    }
  }

  > div:last-child {
    margin: 0.5rem;
    min-height: 1.375rem;
    max-height: 3.5rem;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.tag-option-hint {
  margin-inline-start: 1rem;
  color: var(--text-color-muted);
  font-size: smaller;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
