// All themes
.bp3-dark,
.bp3-light {
  --accent-color-blue: rgb(51, 153, 255);
  --accent-color-red: rgb(250, 52, 37);
  --accent-color-green: rgb(104, 232, 188);
  color: var(--text-color);
  background: var(--background-color);
}

// Dark Theme
.bp3-dark {
  --background-color: rgb(28, 30, 35);
  --background-color-alt: rgb(35, 37, 46);
  --text-color: rgb(200, 200, 200);
  --text-muted-color: rgb(128, 128, 128);
  --border-dark: rgb(18, 18, 24);
  --border-light: rgb(35, 37, 46);
}

// Light Theme
.bp3-light {
  --background-color: rgb(240, 240, 240);
  --background-color-alt: rgb(248, 248, 248);
  --text-color: rgb(64, 64, 64);
  --text-muted-color: rgb(128, 128, 128);
  --border-dark: rgb(200, 200, 200);
  --border-light: rgb(240, 240, 240);
}
