// Dark Theme
.dark {
  --text-color: rgb(200, 200, 200);
  --text-color-alt: rgb(0, 0, 0);
  --text-color-muted: rgb(128, 128, 128);
  --text-color-strong: rgb(255, 255, 255);

  --background-color: rgb(28, 30, 35);
  --background-color-alt: rgb(35, 37, 46);

  --shade1: rgb(21, 23, 26);
  --shade2: rgb(18, 18, 24);

  --input-color: var(--shade1);
  --input-color-hover: var(--shade2);

  --hover-color: var(--shade1);
  --hover-color-alt: var(--shade2);

  --scrollbar-track-color: var(--shade1);
  --scrollbar-thumb-color: var(--background-color-alt);
  --scrollbar-thumb-hover-color: var(--text-color-muted);

  --border-color: var(--shade2);
}

// Light Theme
.light {
  --text-color: rgb(64, 64, 64);
  --text-color-alt: rgb(255, 255, 255);
  --text-color-muted: rgb(128, 128, 128);
  --text-color-strong: rgb(0, 0, 0);

  --background-color: rgb(240, 240, 240);
  --background-color-alt: rgb(248, 248, 248);

  --shade1: rgb(232, 232, 232);
  --shade2: rgb(221, 221, 221);

  --input-color: var(--shade1);
  --input-color-hover: var(--shade2);

  --hover-color: var(--shade1);
  --hover-color-alt: var(--shade2);

  --scrollbar-track-color: var(--shade1);
  --scrollbar-thumb-color: var(--background-color-alt);
  --scrollbar-thumb-hover-color: var(--text-color-muted);

  --border-color: var(--shade2);
}

// All themes
.dark,
.light {
  // 90% Saturation, 55% Lightness
  --accent-color-blue: #3382f0; /* rgb(51, 153, 255); */
  --accent-color-red: #f7392d;
  --accent-color-yellow: #a57d27;
  --accent-color-green: #279658; /*rgb(104, 232, 188);*/
  --box-shadow: 0.125rem 0.25rem 1rem rgba(0, 0, 0, 0.125);
  --accent-color: var(--accent-color-blue);
  color: var(--text-color);
  background: var(--background-color);
}
