.outlinerClosed {
  #togglebar{
    width: 8.5rem;
  }
  #toolbar {
    left: 8.5rem;
  }
  #outliner {
    left: calc(var(--outliner-width) * (-1));
  }
  #contentArea {
    left: 0;
  }
}
.inspectorClosed {
  #contentArea {
    right: 0;
  }
  #inspector {
    right: calc(var(--inspector-width) * (-1));
  }
}
