body {
  --window-titlebar-height: 28px;
  --mac-system-buttons-width: 5rem;

  --toolbar-height: 3rem;

  --outliner-width: 12rem;
  --treeitem-identation: 1.25rem;
  --treeitem-offset: 0.75rem;

  --inspector-width: 18rem;
}
