#windows-frame-bar {
  -webkit-app-region: drag; // Custom frame should be draggable for moving window around
  position: absolute;
  top: 0;
  z-index: 100;

  height: var(--frame-height);
  width: 100%;
  background-color: $dark-gray0;
  color: $dark-gray6;

  > span {
    margin-top: 3px;
    text-align: center;
    width: calc(100% - 3 * 28px);
    display: inline-block;
  }

  #window-system-buttons {
    // The font for windows system icons. TODO: Check if available on linux
    font-family: 'Segoe MDL2 Assets';
    font-size: 10px;

    display: flex;
    position: absolute;
    right: 0;
    top: 0;

    > span {
      -webkit-app-region: none;
      height: 22px;
      width: 28px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $dark-gray1;
      }

      &:last-child:hover {
        background-color: $danger;
        color: $white;
      }
    }
  }
}
