@import '~resources/style/colors.scss';

.number {
  -webkit-appearance: none;
  appearance: none;
}

.text,
.number {
  height: 1.75rem;
  border: 2px solid var(--stroke-color);
  border-radius: var(--border-radius-small);
  padding: 0 0.5rem;

  &:hover {
    border-color: var(--highlight-font-color);
  }

  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }

  &:read-only {
    border: none;
  }

  &::placeholder {
    color: var(--stroke-color);
    opacity: none;
  }

  &:placeholder-shown,
  &:read-only {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:-moz-read-only {
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.input {
  &:invalid:read-write:focus {
    border-color: red;
  }

  &:invalid:-moz-read-write:focus {
    border-color: red;
  }

  &:-moz-ui-invalid,
  &:-moz-submit-invalid {
    box-shadow: none;
  }

  &:disabled {
    background: $dark-gray3;
    color: $dark-gray2;
  }
}

// TODO: Global CSS?
.label {
  display: var(--display, block);
  margin-bottom: 0.5rem;
}
