dialog {
  backdrop-filter: blur(10px);
  background-color: var(--foreground-color);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.35);
  opacity: 0.9;
  padding: 1rem 1rem 0.5rem;
  top: calc(2 * var(--toolbar-height));
  z-index: 1;

  &[open] {
    animation: appear 0.1s linear;
  }
}

[role='alertdialog'] > .dialog-content {
  display: grid;
  width: 50ch;
  grid-template: 'dialog-icon dialog-label' 'dialog-icon dialog-information' 'dialog-actions dialog-actions';
  row-gap: 0.5rem;
}

.dialog-icon {
  grid-area: dialog-icon;
  color: var(--primary-color);

  > .custom-icon {
    margin: 0;
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.dialog-label {
  grid-area: dialog-label;
  font-size: medium;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0;
}

.dialog-information {
  grid-area: dialog-information;
}

.dialog-actions {
  grid-area: dialog-actions;
  justify-content: flex-end;

  .btn {
    min-width: 100px;
  }
}

@keyframes appear {
  from {
    transform: translateY(-3rem);
  }

  to {
    transform: translateY(0);
  }
}
