dialog {
  backdrop-filter: blur(10px);
  background-color: var(--foreground-color);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.35);
  color: var(--text-color);
  margin-top: 10vh;
  opacity: 0.9;
  padding: 0;
  top: 0;
  bottom: 0;

  &[open] {
    animation: appear 0.1s linear;
  }
}

.dialog-content {
  display: grid;
  grid-template: 'dialog-icon dialog-title' 'dialog-information dialog-information' 'dialog-footer dialog-footer';
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  max-height: 80vh;
  padding: 1rem 1rem 0.5rem;
  row-gap: 0.5rem;
  width: 85ch;
}

dialog[role='alertdialog'] {
  > .dialog-content {
    grid-template: 'dialog-icon dialog-title' 'dialog-icon dialog-information' 'dialog-footer dialog-footer';
    width: 50ch;
  }

  .dialog-icon > .custom-icon {
    margin: 0;
    margin-right: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}

.dialog-icon {
  color: var(--primary-color);
  grid-area: dialog-icon;

  > .custom-icon {
    margin-right: 0.5rem;
  }
}

.dialog-title {
  color: var(--primary-color);
  font-size: medium;
  font-weight: 700;
  grid-area: dialog-title;
  margin: 0;
}

.dialog-information {
  grid-area: dialog-information;
  overflow: hidden auto;
}

.dialog-footer {
  grid-area: dialog-footer;
}

.dialog-actions {
  grid-area: dialog-actions;
  justify-content: flex-end;

  .btn {
    min-width: 100px;
  }
}

@keyframes appear {
  from {
    transform: translateY(-3rem);
  }

  to {
    transform: translateY(0);
  }
}
