#zoomableSlideImage {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    object-fit: contain;

    &.no-drag {
      // No transform transition when dragging, since also applies to zoom (scale) otherwise
      transition: transform 0.1s ease-in-out;
    }
  }
}

#zoomableImage {
  height: calc(100vh - 2.4rem); // Minus toolbarheight
  display: flex;
  flex-direction: column;

  img {
    animation: fade 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  > div {
    flex: auto;
    position: relative;

    .sideButton {
      top: 0;
      opacity: 0;
      height: 100%;
      width: 48px;
      transition: opacity 0.2s ease-in-out;
      position: absolute;

      > svg {
        position: absolute;
        height: 36px !important;
        width: 36px !important;
        margin-top: -24px;
        top: 50%;
        color: #ffffffc7;
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.5));
      }

      > span {
        position: absolute;
        height: 48px;
        margin-top: -24px;
        top: 50%;
        color: white;
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.5));
      }
    }

    .sideButton:hover {
      opacity: 1;
    }

    #backButton {
      top: 0;
      position: absolute;
    }
  }
}
