#zoomableSlideImage {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    object-fit: contain;

    &.no-drag {
      // No transform transition when dragging, since also applies to zoom (scale) otherwise
      transition: transform 0.1s ease-in-out;
    }
  }
}
