// Adjustment Colors
$black: #050505;

// TODO: These colors should all remain in descending brightness values, it messes up Blueprint's theme
// And it's confusing to use
$dark-gray0: #14181a;
$dark-gray1: #1f2224;
$dark-gray2: #2a2d30;
$dark-gray3: #232729;
$dark-gray4: #495057;
$dark-gray5: #3e3e3e; // #5c6064
$dark-gray6: #7d8991;

$dark-gray0-trans: #14181ae1;
$dark-gray1-trans: #3e3e3eb8;
$dark-gray2-trans: #5e5d5dc2;
$dark-gray3-trans: #7c7c7cc2;
$dark-gray4-trans: #7c7c7c6e;
$dark-gray5-trans: #7c7c7c30;
$dark-gray6-trans: #14181a05;
$dark-gray7-trans: #2e313320;
$dark-gray8-trans: #686f7330;
$dark-gray9-trans: #2b2c2d80;

$gray1: #5c7080;
$gray2: #738694;
$gray3: #8a9ba8;
$gray4: #a7b6c2;
$gray5: #bfccd6;

$light-gray1: #9ca1a6; // Main icons & text //95999d  8c9195; //#8f9ca6; // TODO: Why is 1 lighter than 2?
// These should be purely _color definitions_. The text & icon colors can be tweaked below
$light-gray2: #b1b7bb; // #
$light-gray3: #dde1e4; // #d1d1d1 #e1e8ed
$light-gray4: #ebf1f5;
$light-gray5: #f7f9fa; //#f5f8fa;
$light-gray6: #f5f8fa;

$white: #ffffff;

$light-gray0-trans: #505050e1;
$light-gray1-trans: #3e3e3eb8;
$light-gray2-trans: #5e5d5dc2;
$light-gray3-trans: #7c7c7cc2;
$light-gray4-trans: #7c7c7c6e;
$light-gray5-trans: #7c7c7c30;
$light-gray6-trans: #13131330;

// Core colors

$blue0: #007acc;
$blue1: #007af5;
$blue2: #1d64c0;
$blue3: #3593f1;
$blue4: #4c9ef0;
$blue5: #48aff0;

// Not important, so that it can be overwritten by inline style
$blue1-unimportant: #007af5;
$dark-gray5-unimportant: #3e3e3e;

$blue-trans1: #007af555 !important;
$blue-trans2: #007bf531 !important;
$blue-trans3: #007af512 !important;
$blue-trans4: #007af50d !important;

$yellow1: #f7ea3a !important;
$danger: #db3737 !important;

// Override of Blueprint's _color-aliases file
// Commented out the ones we don't necessarily have to change
// TODO: Move to _variables.scss_, along with the theme-specific CSS variables
//    Proposal: This is the primary source of variables, the CSS variables per theme are just for our convience
//    In that way, the colors used in Blueprint and our custom components is identical
/////////////////////////////////////////////////////////////////////
$pt-intent-primary: $blue3;
// $pt-intent-success: $green3;
// $pt-intent-warning: $orange3;
// $pt-intent-danger: $red3;

$pt-app-background-color: $light-gray5;
$pt-dark-app-background-color: $dark-gray3;

// $pt-outline-color: rgba($blue3, 0.6);

$pt-text-color: $dark-gray1;
$pt-text-color-muted: $gray1;
// $pt-text-color-disabled: rgba($pt-text-color-muted, 0.6);
$pt-heading-color: $pt-text-color;
// $pt-link-color: $blue2;
$pt-dark-text-color: $light-gray1;
// $pt-dark-text-color-muted: $gray4;
// $pt-dark-text-color-disabled: rgba($pt-dark-text-color-muted, 0.6);
$pt-dark-heading-color: $pt-dark-text-color;
// $pt-dark-link-color: $blue5;
// Default text selection color using #7dbcff
// $pt-text-selection-color: rgba(125, 188, 255, 0.6);

// $pt-icon-color: $pt-text-color-muted;
// $pt-icon-color-hover: $pt-text-color;
// $pt-icon-color-disabled: $pt-text-color-disabled;
// $pt-icon-color-selected: $pt-intent-primary;
// $pt-dark-icon-color: $pt-dark-text-color-muted;
// $pt-dark-icon-color-hover: $pt-dark-text-color;
// $pt-dark-icon-color-disabled: $pt-dark-text-color-disabled;
// $pt-dark-icon-color-selected: $pt-intent-primary;

// $pt-divider-black: rgba($black, 0.15);
// $pt-dark-divider-black: rgba($black, 0.4);
// $pt-dark-divider-white: rgba($white, 0.15);

// $pt-code-text-color: $pt-text-color-muted;
// $pt-dark-code-text-color: $pt-dark-text-color-muted;
// $pt-code-background-color: rgba($white, 0.7);
// $pt-dark-code-background-color: rgba($black, 0.3);

// Other overrides
/////////////////////////////////
// Menu: _common.scss
$dark-menu-background-color: $dark-gray2; // Note: This override (and likely most others) shouldn't be needed if we set up the colors properly
