// Adjustment Colors
$black: #050505;

$dark-gray0: #14181a;
$dark-gray1: #1f2224;
$dark-gray2: #2a2d30;
$dark-gray3: #232729;
$dark-gray4: #495057;
$dark-gray5: #3e3e3e;
$dark-gray6: #7d8991;

$dark-wgray1: #181818;
$dark-wgray2: #252525;
$dark-wgray3: #282828;
$dark-wgray4: #495057;
$dark-wgray5: #3e3e3e;
$dark-wgray6: #182026;

$gray1: #5c7080;
$gray2: #738694;
$gray3: #8a9ba8;
$gray4: #a7b6c2;
$gray5: #bfccd6;

$light-gray1: #95999d; //8c9195; //#8f9ca6;
$light-gray2: #7d8991;
$light-gray3: #d1d1d1; //#e1e8ed
$light-gray4: #ebf1f5;
$light-gray5: #f7f9fa; //#f5f8fa !default;
$light-gray6: #f5f8fa;

$light-wgray1: #919191;
$light-wgray2: #adadad;
$light-wgray3: #d1d1d1; //#e1e8ed
$light-wgray4: #ebf1f5;
$light-wgray5: #f7f9fa; //#f5f8fa !default;
$light-wgray6: #f5f8fa;

$white: #ffffff !default;

$light-gray0-trans: #505050e1 !default;
$light-gray1-trans: #3e3e3eb8 !default;
$light-gray2-trans: #5e5d5dc2 !default;
$light-gray3-trans: #7c7c7cc2 !default;
$light-gray4-trans: #7c7c7c6e !default;
$light-gray5-trans: #7c7c7c30 !default;
$light-gray6-trans: #13131330 !default;

// Core colors

$blue0: #007acc;
$blue1: #007af5;
$blue2: #1d64c0;
$blue3: #3593f1;
$blue4: #4c9ef0;
$blue5: #48aff0;

// Not important, so that it can be overwritten by inline style
$blue1-unimportant: #007af5;
$dark-gray5-unimportant: #3e3e3e;

$blue-trans1: #007af555;
$blue-trans2: #007af512;
$blue-trans3: #007af50d;

$yellow1: #f7ea3a;
