///////////////////////////////// Content area /////////////////////////////////
.quick-search {
  background: $dark-gray0;
  border-radius: 6px;
  position: sticky;
  width: calc(100% - 0.75rem);
  padding: 0 0.25rem;
  top: 0.2rem;
  z-index: 999;
  display: flex;
  border-bottom: 2px solid $black;
  box-shadow: $pt-dark-elevation-shadow-2;

  button.bp3-button {
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 2px;
    background: none !important;
  }

  .bp3-button-group {
    .bp3-button {
      border-radius: 6px;
      // background: rgba(1, 1, 1, .1) !important;
      background: none !important;
    }

    .bp3-intent-primary {
      background: $blue1;
    }
  }

  .bp3-popover-wrapper,
  #criteria-list {
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  #criteria-list {
    width: 100%;
  }

  .bp3-popover-target,
  .bp3-popover-wrapper {
    width: 100%;
  }
}

.quick-search-enter {
  max-height: 0;
}
.quick-search-enter-active {
  max-height: var(--toolbar-height);
  transition: max-height 0.2s;
  overflow: hidden;
}
.quick-search-exit {
  max-height: var(--toolbar-height);
}
.quick-search-exit-active {
  max-height: 0;
  transition: max-height 0.2s;
  overflow: hidden;
}
.quick-search-exit-done {
  max-height: 0;
}

.gallery-content {
  flex: 1;
  max-height: 100%;
  margin-left: 8px;
}

.gallery-content:not(.slide) {
  > div {
    // Fix for height cut-off when the quick search bar is open
    position: absolute !important;

    // No horizontal scrollbar
    overflow-x: hidden !important;
  }
}

// WIP > better general thumbsize. See if we kind find better size ratio for different screensize.
// We'll have less loss of space perhaps
.thumbnail-small {
  /* --thumbnail-size: calc(100vw / 10); */
  /* --thumbnail-size: calc(calc(100vw / 10) - calc(10 * var(--thumbnail-margin))); */
  // --thumbnail-size: 82px;
  --thumbnail-size: 150px;
}
.thumbnail-medium {
  /* --thumbnail-size: calc(100vw / 6); */
  /* --thumbnail-size: calc(calc(100vw / 6) - calc(6 * var(--thumbnail-margin))); */
  // --thumbnail-size: 182px;
  --thumbnail-size: 250px;
}
.thumbnail-large {
  /* --thumbnail-size: calc(100vw / 4); */
  /* --thumbnail-size: calc(calc(100vw / 4) - calc(4 * var(--thumbnail-margin))); */
  // --thumbnail-size: 282px;
  --thumbnail-size: 350px;
}
.galleryItem {
  padding: 0.3rem 0 0 0;
}

/////////////////////// Thumbnail //////////////////////////////////
.thumbnail {
  position: relative;
  overflow: hidden;

  .h4 {
    grid-area: title;
  }

  &[aria-selected='true'] .thumbnail-img {
    background-color: $blue1;

    > :first-child {
      clip-path: inset(0.5rem round 0.125rem);
    }
  }

  &.open img {
    outline-color: red;
    outline-width: 5px;
    outline-offset: -5px;
    outline-style: solid;
  }

  &[data-dnd-target='true'] .thumbnail-img {
    background: $yellow1;

    img {
      clip-path: inset(0.5rem round 0.125rem);
    }
  }

  &:hover .thumbnail-tags {
    background-color: rgba(0, 0, 0, 0.25);
  }

  #fileInfo {
    grid-area: info;
  }
}

.thumbnail-img {
  grid-area: image;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  border-radius: 0.25rem;
  // Allow dragging of images to elsewhere (drag-export)
  -webkit-user-drag: element;

  &:hover {
    background: none !important;
  }

  .placeholder {
    width: 100%;
    height: 100%;
  }

  img {
    background-color: var(--foreground-color);
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    clip-path: inset(0);
    transition-property: clip-path, filter;
    transition-duration: 0.2s;
    transition-timing-function: $pt-transition-cubic2;
  }
}

.thumbnail-tags {
  grid-area: tags;
  width: 100%;
  height: auto;
  padding: 0.4em 0.4rem 0.15rem 0.4rem;
  position: absolute;
  bottom: 0;
  background: none;
  > * {
    margin: 0.25em;
  }
}

.image-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background: var(--foreground-color);
}

// THUMBNAIL LOADER
.donut-loading {
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(var(--dark-gray4-rgb), 0.2);
  border-top-color: rgba(var(--dark-gray4-rgb), 0.7);
  animation: 1.5s spin infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/////////////////////// View methods //////////////////////////////////
.list .thumbnail {
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    'image title'
    'image info'
    'image tags';

  span > * {
    text-align: left !important;
  }

  .thumbnail-tags {
    display: block;
    position: relative;
    background: none !important;
    padding: 0.2rem 0.2rem 0.4rem 0;
    margin-left: -0.2rem;
    align-self: start;
  }

  .bp3-heading {
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0;
    margin-bottom: 0;
    align-self: end;
  }
}

.list div div > .list-item-even {
  background-color: rgba(102, 102, 102, 0.045);
}

.thumbnail-small.list {
  .bp3-heading {
    font-size: 16px;
    align-self: start;
  }
  #fileInfo {
    grid-row-gap: 0.02rem;
    line-height: 1rem;
  }
  .thumbnail-tags {
    padding-top: 0;
    align-self: end;
  }
}

.grid .thumbnail {
  &[data-dnd-target='true'] .thumbnail-tags {
    display: block;
    overflow-y: hidden;
  }
  .thumbnail-tags {
    transition: 0.25s $pt-transition-cubic2;
    max-height: 2.8em;
  }
  &:hover .thumbnail-tags {
    max-height: var(--thumbnail-size);
    overflow-y: auto;
    overflow-x: hidden;
  }
  &[data-dnd-target='true'] .thumbnail-tags {
    max-height: var(--thumbnail-size);
    overflow: hidden; // can't scroll while dropping
  }
}
// Fix for temp placeholder masonry smiley
.masonry {
  position: relative !important;
}

.thumb-square:not(.slide) img {
  object-fit: cover;
}
.thumb-letterbox:not(.slide) img {
  object-fit: contain;
}
