///////////////////////////////// Content area /////////////////////////////////
.quick-search {
  background-color: var(--background-color);
  position: sticky;
  padding: 0 0.25rem;
  top: 0.2rem;
  z-index: 9;
  display: flex;
  border-bottom: 2px solid var(--background-separator-color);
  box-shadow: $pt-dark-elevation-shadow-2;
  transition: max-height 200ms ease-in-out;

  &.quick-search-enter {
    max-height: 0;
  }
  &.quick-search-enter-active {
    max-height: var(--quick-searchbar-height);
  }
  &.quick-search-exit {
    max-height: var(--quick-searchbar-height);
  }
  &.quick-search-exit-active {
    max-height: 0;
  }

  .bp3-button {
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 2px;
    background: none !important;
  }

  .bp3-button-group {
    .bp3-button {
      border-radius: 6px;
      background: none !important;
    }

    .bp3-intent-primary {
      background: $blue1;
    }
  }

  .bp3-popover-wrapper,
  #criteria-list {
    padding: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  #criteria-list {
    width: 100%;
  }

  .bp3-popover-target,
  .bp3-popover-wrapper {
    width: 100%;
  }
}

.quick-search-enter {
  max-height: 0;
}
.quick-search-enter-active {
  max-height: var(--toolbar-height);
  transition: max-height 0.2s;
  overflow: hidden;
}
.quick-search-exit {
  max-height: var(--toolbar-height);
}
.quick-search-exit-active {
  max-height: 0;
  transition: max-height 0.2s;
  overflow: hidden;
}
.quick-search-exit-done {
  max-height: 0;
}

#gallery-content {
  flex: 1;
  margin-left: 6px;
}

#gallery-content:not(.slide) {
  > div {
    // Fix for height cut-off when the quick search bar is open
    position: absolute !important;

    // No horizontal scrollbar
    overflow-x: hidden !important;
  }
}

// WIP > better general thumbsize. See if we kind find better size ratio for different screensize.
// We'll have less loss of space perhaps
.thumbnail-small {
  /* --thumbnail-size: calc(100vw / 10); */
  /* --thumbnail-size: calc(calc(100vw / 10) - calc(10 * var(--thumbnail-margin))); */
  // --thumbnail-size: 82px;
  --thumbnail-size: 150px;
}
.thumbnail-medium {
  /* --thumbnail-size: calc(100vw / 6); */
  /* --thumbnail-size: calc(calc(100vw / 6) - calc(6 * var(--thumbnail-margin))); */
  // --thumbnail-size: 182px;
  --thumbnail-size: 250px;
}
.thumbnail-large {
  /* --thumbnail-size: calc(100vw / 4); */
  /* --thumbnail-size: calc(calc(100vw / 4) - calc(4 * var(--thumbnail-margin))); */
  // --thumbnail-size: 282px;
  --thumbnail-size: 350px;
}

/////////////////////// Thumbnail //////////////////////////////////
.thumbnail {
  position: relative;
  padding: 4px 0;

  h4 {
    grid-area: title;
    white-space: nowrap;
    overflow: hidden;
  }

  &[aria-selected='true'] .thumbnail-img {
    background-color: $blue1;

    > img,
    > .image-error {
      clip-path: inset(0.5rem round 0.125rem);
    }
  }

  &.open img {
    outline-color: red;
    outline-width: 5px;
    outline-offset: -5px;
    outline-style: solid;
  }

  &[data-dnd-target='true'] .thumbnail-img {
    background: $yellow1;

    img {
      clip-path: inset(0.5rem round 0.125rem);
    }
  }

  &:hover .thumbnail-tags {
    max-height: var(--thumbnail-size);
    overflow-y: auto;
  }
}

.thumbnail-img {
  grid-area: image;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  border-radius: 0.25rem;
  // Allow dragging of images to elsewhere (drag-export)
  -webkit-user-drag: element;
  background-color: var(--foreground-color);

  > img,
  > .image-error {
    clip-path: inset(0 round 0.25rem);
    transition: clip-path 0.2s $pt-transition-cubic2;
  }

  > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.thumbnail-broken {
  > img,
  > .image-error {
    filter: saturate(0) brightness(0.25);
  }
}

.thumbnail-broken-overlay {
  cursor: pointer;
  position: absolute;
  padding: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  top: 0.5rem;
  left: calc(var(--thumbnail-size) - 3rem);
  color: $danger;

  svg {
    width: 2rem !important;
    height: 2rem !important;
  }
}

.thumbnail-tags {
  grid-area: tags;
  display: block;
  padding: 0.4em 0.4rem 0.15rem 0.4rem;
  position: absolute;
  bottom: 4px;
  overflow: hidden;

  > * {
    margin: 0.25em;
  }
}

.image-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

// THUMBNAIL LOADER
.donut-loading {
  display: inline-block;
  width: 50%;
  height: 50%;
  margin: 25%;
  border-radius: 50%;
  border: 0.5rem solid var(--background-color);
  border-top-color: var(--primary-color);
  animation: 1.5s spin infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/////////////////////// View methods //////////////////////////////////
.list .thumbnail {
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    'image title'
    'image info'
    'image tags';
  height: calc(var(--thumbnail-size) + 16px);

  span > * {
    text-align: left !important;
  }

  .thumbnail-tags {
    position: unset;
    padding: 0;
    margin-left: -0.2rem;
  }

  .bp3-heading {
    margin: 0;
    align-self: end;
  }
}

.list div div > .list-item-even {
  background-color: rgba(102, 102, 102, 0.045);
}

.thumbnail-small.list {
  .bp3-heading {
    font-size: 16px;
  }
  .file-info {
    grid-row-gap: 0;
  }
  .thumbnail-tags {
    margin-bottom: 4px;
  }
}

.grid .thumbnail {
  &:hover .thumbnail-tags {
    max-height: var(--thumbnail-size);
    background-color: rgba(0, 0, 0, 0.25);
  }

  .thumbnail-tags {
    border-radius: 0 0 0.25rem 0.25rem;
    transition: 0.25s $pt-transition-cubic2;
    max-height: 2.8em;
    width: var(--thumbnail-size);
  }

  &[data-dnd-target='true'] .thumbnail-tags {
    max-height: var(--thumbnail-size);
    overflow: hidden; // can't scroll while dropping
  }
}
// Fix for temp placeholder masonry smiley
.masonry {
  position: relative !important;
}

.thumbnail-square:not(.slide) img {
  object-fit: cover;
}
.thumbnail-letterbox:not(.slide) img {
  object-fit: contain;
}

// Slide view:
#zoomableImage {
  height: calc(100vh - 2.4rem); // Minus toolbarheight
  display: flex;
  flex-direction: column;

  img {
    animation: fade 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  > div {
    flex: auto;
    position: relative;

    .sideButton {
      top: 0;
      opacity: 0;
      height: 100%;
      width: 48px;
      transition: opacity 0.2s ease-in-out;
      position: absolute;

      > svg {
        position: absolute;
        height: 36px !important;
        width: 36px !important;
        margin-top: -24px;
        top: 50%;
        color: #ffffffc7;
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.5));
      }

      > span {
        position: absolute;
        height: 48px;
        margin-top: -24px;
        top: 50%;
        color: white;
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.5));
      }
    }

    .sideButton:hover {
      opacity: 1;
    }
  }
}
