///////////////////////////////// Content area /////////////////////////////////
#gallery-content {
  flex: 1;

  > div {
    // WARNING: This fixes a lot of things, so do not delete it!
    position: absolute !important;

    > div {
      // No horizontal scrollbar
      overflow-x: hidden !important;
    }
  }
}

// WIP > better general thumbsize. See if we kind find better size ratio for different screensize.
// We'll have less loss of space perhaps
.thumbnail-small {
  /* --thumbnail-size: calc(100vw / 10); */
  /* --thumbnail-size: calc(calc(100vw / 10) - calc(10 * var(--thumbnail-margin))); */
  // --thumbnail-size: 82px;
  --thumbnail-size: 160px;
}
.thumbnail-medium {
  /* --thumbnail-size: calc(100vw / 6); */
  /* --thumbnail-size: calc(calc(100vw / 6) - calc(6 * var(--thumbnail-margin))); */
  // --thumbnail-size: 182px;
  --thumbnail-size: 240px;
}
.thumbnail-large {
  /* --thumbnail-size: calc(100vw / 4); */
  /* --thumbnail-size: calc(calc(100vw / 4) - calc(4 * var(--thumbnail-margin))); */
  // --thumbnail-size: 282px;
  --thumbnail-size: 320px;
}

/////////////////////// Thumbnail //////////////////////////////////
[role='gridcell'] {
  position: relative;
  margin: 4px;

  h2 {
    grid-area: title;
    font-size: medium;
    margin: 0;
    white-space: nowrap;
  }

  &[aria-selected='true'] .thumbnail {
    background-color: $blue1;

    // old design
    // > img,
    // > .image-error {
    //   clip-path: inset(0.25rem round 0.125rem); // old design
    // }

    // New design
    > img {
      border: 0.25rem solid $blue1; // new design
    }
    > .image-error {
      border: 0.25rem solid $danger; // new design
    }
  }

  &.open img {
    outline-color: red;
    outline-width: 5px;
    outline-offset: -5px;
    outline-style: solid;
  }

  &:hover .thumbnail-tags {
    max-height: var(--thumbnail-size);
    overflow-y: auto;
  }
}

.thumbnail {
  grid-area: image;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  // Allow dragging of images to elsewhere (drag-export)
  -webkit-user-drag: element;
  background-color: var(--background-color);

  // This acts as the border-radius, but also for child elements
  :first-child {
    clip-path: inset(0 round 0.125rem);
    transition: clip-path 0.2s $pt-transition-cubic2;
    pointer-events: none;
  }

  > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &[data-dnd-target='true'] {
    background: $yellow1;

    img {
      clip-path: inset(0.5rem round 0.125rem);
    }
  }
}

.thumbnail-broken {
  > img,
  > .image-error {
    filter: saturate(0) brightness(0.25);
  }
}

.thumbnail-broken-overlay {
  cursor: pointer;
  position: absolute;
  padding: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  top: 0.5rem;
  left: calc(var(--thumbnail-size) - 3rem);
  color: $danger;

  svg {
    width: 2rem !important;
    height: 2rem !important;
  }
}

.thumbnail-tags {
  grid-area: tags;
  display: block;
  position: absolute;
  bottom: 0;
  overflow: hidden;

  > * {
    pointer-events: none;
    margin: 0.25em;
  }
}

.image-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

// THUMBNAIL LOADER
.donut-loading {
  display: inline-block;
  width: 50%;
  height: 50%;
  margin: 25%;
  border-radius: 50%;
  border: 0.5rem solid var(--background-color);
  border-top-color: var(--primary-color);
  animation: 1.5s spin infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/////////////////////// View methods //////////////////////////////////
.list {
  // Stripe pattern
  [aria-rowindex$='0'],
  [aria-rowindex$='2'],
  [aria-rowindex$='4'],
  [aria-rowindex$='6'],
  [aria-rowindex$='8'] {
    background-color: rgba(102, 102, 102, 0.045);
  }

  [role='gridcell'] {
    display: grid;
    grid-column-gap: 1.5em;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      'image title'
      'image info'
      'image tags';
  }

  .thumbnail {
    align-self: center;
  }

  h2 {
    align-self: end;
  }

  .file-info {
    pointer-events: none;
  }

  .thumbnail-tags {
    min-height: 1.5rem;
    position: unset;
    padding: 0;
  }
}

.thumbnail-small .list .file-info {
  border-spacing: 0;
}

.grid {
  [role='row'] {
    white-space: nowrap;

    [role='gridcell']:last-child {
      margin-right: 0;
    }
  }

  [role='gridcell'] {
    display: inline-block;

    &:hover .thumbnail-tags {
      max-height: var(--thumbnail-size);
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  .thumbnail[data-dnd-target='true'] + .thumbnail-tags {
    pointer-events: none;
    max-height: var(--thumbnail-size);
    overflow: hidden; // can't scroll while dropping
  }

  .thumbnail-tags {
    white-space: initial;
    border-radius: 0 0 0.25rem 0.25rem;
    transition: 0.25s $pt-transition-cubic2;
    max-height: 2.8em;
    width: var(--thumbnail-size);
  }
}

.thumbnail-square img {
  background-position: center;
  object-fit: cover;
}
.thumbnail-letterbox img {
  object-fit: contain;
}

// Slide view:
#zoomableImage {
  height: calc(100vh - var(--content-top));
  display: flex;
  flex-direction: column;

  img {
    animation: fade 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  > div {
    flex: auto;
    position: relative;

    .side-button {
      top: 0;
      opacity: 0.1;
      height: 100%;
      width: 48px;
      transition: opacity 0.2s ease-in-out;
      position: absolute;

      > svg {
        position: absolute;
        margin-top: -24px;
        top: 50%;
        color: #ffffffc7;
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.5));
      }
    }

    .side-button:hover {
      opacity: 1;
    }
  }
}

#content-placeholder {
  max-width: 480px;
  margin: 10% auto auto auto;
  text-align: center;
}
