// Pasted in the raw CSS from the sheet (with a few small corrections (width and colors as variables))
// Should move it into the style files of the respective containers and components later

// Elements

.windowBtn {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0.25rem;
  border-radius: 50%;
  cursor: pointer;
}
.toolbarBtn {
  height: 1.5rem;
  min-width: 1.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
  display: flex;
  align-items: center;

  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  border-radius: 0.25rem;
}
.toolbarBtn:hover {
  background: rgba(0, 0, 0, 0.05);
}
.toolbarBtn:focus {
  background: rgba(0, 0, 0, 0.05);
}
.toolbarBtn:active {
  background: rgba(0, 0, 0, 0.075);
}
/*Search*/
#outliner .search {
  background: rgba(0, 0, 0, 0.08);
}
#outliner .search:hover {
  background: rgba(0, 0, 0, 0.12);
}
/*Selection*/
#outliner .selectionIndicator,
#outliner .check {
  display: none;
}
#outliner .selectionMode .selectionIndicator {
  display: block;
}
#outliner #tagPanel .row:hover .selectionIndicator {
  display: block;
}
#outliner .select .selectionIndicator {
  display: none !important;
}
#outliner .select .check {
  display: block;
}

.right {
  text-align: right;
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
