// Viewport

fieldset {
  margin: 0;
  margin-bottom: 0.5rem;
  border: none;
  padding: 0;

  legend {
    display: block;
    font-weight: lighter;
    margin-bottom: 0.5rem;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
  }
}

input {
  color: inherit;
  padding: 0;
  padding-left: 0.25rem;
  line-height: 1.5rem;
}

// Global specific styles for the main window
#app {
  --thumbnail-size: 250px;
  --thumbnail-margin: 0.25rem;
  --mac-system-buttons-width: 5rem;
}

// Preview window layout definition
#preview {
  --toolbar-height: 3rem;
  --frame-height: 0px; // No custom frame: Native title bar is currently enabled on all platforms
  --content-top: var(--toolbar-height);
  display: grid;
  grid-template-areas:
    'toolbar'
    'main';
  grid-template-rows: var(--toolbar-height) 1fr;

  #toolbar {
    left: 0; // No #outliner-toggle
  }
  #content-view {
    left: 0; // No outliner
  }
}

.preloader {
  font-size: 18px;
  font-weight: 700;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Open Sans', 'Helvetica Neue', 'Icons16', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.contextMenuTarget {
  outline-color: $pt-intent-primary;
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
}

/* 
// Custom scrollbar style
::-webkit-scrollbar {
  width: 10px;
}

/////////// Scroll bar (Track and handle) ///////////
.bp3-light {
  ::-webkit-scrollbar-track {
    background-color: $light-gray4;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $light-gray2;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: $light-gray5;
  }
}

.bp3-dark {
  ::-webkit-scrollbar-track {
    background-color: $dark-gray3;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $dark-gray5;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: $dark-gray6;
  }
} */

.bp3-popover-backdrop {
  background: rgba(16, 22, 26, 0); //Set 2 zero for now
}

///////////////////////////////// Theme Colours /////////////////////////////////
// Todo: The nice thing about variables is that we can change them depending on the theme,
// instead of switching colors around like this
#preview,
#layout-container {
  background-color: transparent;
}

///////////////////////////////// Media Queries /////////////////////////////////
@media (max-width: 960px) {
  .toolbar-button-text:not(.always) {
    margin: 0;
    text-indent: -100vw;
    white-space: nowrap;
    overflow: hidden;
  }
}

///////////////////////////////// Misc /////////////////////////////////
// Error boundary (when app crashes)
.error-boundary {
  grid-area: main;

  .message {
    font-family: monospace;
    max-width: 120ch;
  }
}

// Change icon color (black/white) based on its intent (like Blueprint's built-in icons)
.custom-icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;

  * {
    fill: currentColor;
  }
}
.custom-icon-128 > * {
  height: 8rem;
  width: 8rem;
}
.custom-icon-64 > * {
  height: 4rem;
  width: 4rem;
}
.custom-icon-48 > * {
  height: 3rem;
  width: 3rem;
}
.custom-icon-32 > * {
  height: 2rem;
  width: 2rem;
}

.file-dropper-overlay {
  margin: auto;

  &::backdrop {
    background-color: $blue-trans1;
  }

  > .dialog-content {
    width: 400px;
  }

  .quick-tags {
    text-align: center;
    margin-top: 20px !important;
  }
}

#toaster {
  position: absolute;
  right: 1rem;
  bottom: 0rem;
}

// TODO: Fix this when we have our own custom toaster, currently intefering with Blueprint
.toast {
  background: #3399ff;
  color: #ffffff;
  width: 22.5rem;
  // right: 1rem;
  // bottom: 1rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  z-index: 200;
  border-radius: 0.25rem;
  box-shadow: 3px 4px 6px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img,
  span {
    height: 1rem;
    margin: 0.25rem;
  }
  button {
    height: 1.5rem;
    min-width: 1.5rem;
    padding: 0.25rem;
    margin: 0.25rem;
    display: flex;
    align-items: center;

    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 0.25rem;
  }
  button:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
  }
}

.toast-without-dismiss {
  .bp3-button:last-child {
    display: none;
  }
}

/////////////////// Transitions ///////////////////
///////////////////////////////////////////////////
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// Styling to match Allusion Mockups
$pt-transition-cubic1: cubic-bezier(0.4, 1, 0.75, 0.9) !default;
$pt-transition-cubic2: cubic-bezier(0.4, 0, 0.2, 1) !default;
$pt-transition-cubic2-delay: cubic-bezier(0.4, 0, 0.2, 1) 0.8s !default;
$pt-transition-ease-bounce: cubic-bezier(0.54, 1.12, 0.38, 1.11) !default;
$pt-transition-duration: 100ms !default;
