* {
  box-sizing: border-box;
}

fieldset {
  margin: 0;
  margin-bottom: 0.5rem;
  border: none;
  padding: 0;

  legend {
    display: block;
    font-weight: lighter;
    margin-bottom: 0.5rem;
  }
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

input {
  color: inherit;
  padding: 0;
  padding-left: 0.25rem;
  line-height: 1.5rem;
}

table {
  color: inherit;
  font-size: inherit;
}

// By default select looks pretty bad on almost any OS.
select {
  background: var(--input-color);
  color: var(--text-color);
  border: 0.0625rem solid var(--border-color);
  outline: none;
  border-radius: 0.25rem;
  margin: 0.125rem 0.25rem;
  line-height: 1.5rem;

  &:hover {
    background: var(--input-color-hover);
  }

  &:focus-within {
    background: var(--input-color);
    box-shadow: 0 0 0 0.125rem var(--accent-color-blue);
  }
}

// Global specific styles for the main window
#app {
  --thumbnail-size: 250px;
  --thumbnail-margin: 0.25rem;
  --mac-system-buttons-width: 5rem;
}

// Preview window layout definition
#preview {
  --window-titlebar-height: 0px; // No custom frame: Native title bar is currently enabled on all platforms
  --content-top: var(--toolbar-height);

  #toolbar {
    left: 0; // No #outliner-toggle
  }
  #content-view {
    left: 0; // No outliner
  }
}

.preloader {
  font-size: 18px;
  font-weight: 700;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Open Sans', 'Helvetica Neue', 'Icons16', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#toaster {
  position: absolute;
  right: 1rem;
  bottom: 0rem;
}

.toast {
  background: var(--accent-color-blue);
  color: white;
  width: 22.5rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  z-index: 1;
  border-radius: 0.25rem;
  box-shadow: 3px 4px 6px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    min-height: 1rem;
    max-height: 2.5rem;
    margin: 0.25rem;
  }

  button {
    color: white;

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}

/////////////////// Transitions ///////////////////
///////////////////////////////////////////////////
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// Styling to match Allusion Mockups
$pt-transition-cubic1: cubic-bezier(0.4, 1, 0.75, 0.9) !default;
$pt-transition-cubic2: cubic-bezier(0.4, 0, 0.2, 1) !default;
$pt-transition-cubic2-delay: cubic-bezier(0.4, 0, 0.2, 1) 0.8s !default;
$pt-transition-ease-bounce: cubic-bezier(0.54, 1.12, 0.38, 1.11) !default;
$pt-transition-duration: 100ms !default;
