// Styling to match Allusion Mockups
$pt-transition-cubic1: cubic-bezier(0.4, 1, 0.75, 0.9) !default;
$pt-transition-cubic2: cubic-bezier(0.4, 0, 0.2, 1) !default;
$pt-transition-cubic2-delay: cubic-bezier(0.4, 0, 0.2, 1) 0.8s !default;
$pt-transition-ease-bounce: cubic-bezier(0.54, 1.12, 0.38, 1.11) !default;
$pt-transition-duration: 100ms !default;

* {
  box-sizing: border-box;
}

// Viewport
html,
body,
#app,
#layout-container,
#preview {
  width: 100vw;
  height: 100vh;
}

// Page layout
html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px;
  overflow: hidden;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Open Sans', 'Helvetica Neue', 'Icons16', sans-serif;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

// Override standard CSS attributes
pre {
  word-wrap: break-word;
  white-space: initial;
}
.bp3-dark {
  pre {
    font-family: unset;
    background: $dark-gray8-trans;
    padding: 6px;
    border-radius: 6px;
  }
}

// Global specific styles for the main window
#app {
  --outliner-width: 14rem;
  --inspector-width: 18rem;
  --toolbar-height: 3rem;
  --quick-searchbar-height: 2.5rem;
  --thumbnail-size: 250px;
  --thumbnail-margin: 0.25rem;
  --mac-system-buttons-width: 5rem;
}

// Global specific styles for the preview window
#preview {
  --toolbar-height: 3rem;
  display: grid;
  grid-template-areas:
    'toolbar'
    'main';
  grid-template-rows: var(--toolbar-height) 1fr;
}

// Default Theme
.bp3-dark,
.bp3-light {
  --primary-color: #{$blue1};
  --stroke-color: #{$gray3};
  --selection-background-color: #007bf53f;
  --selection-font-color: white;
  --treeitem-identation: 1rem;
  --treeitem-offset: 1rem;
}

// Dark Theme
.bp3-dark {
  --focus-color: #{$dark-gray3};
  --hover-background: #{$dark-gray4}; // dark-gray5?
  --hover-color: white;

  // Text/icon color
  --text-color: hsl(0, 0%, 80%);
  --text-muted-color: hsl(0, 0%, 55%);
  color: var(--text-color);

  // The background color of elements inside of panels
  --foreground-color: #{$dark-gray3}; // Main background color
  --foreground-color2: #{$dark-gray2}; // Alt background color (outliner)
  // Background color of the main panels
  --background-color: #{$dark-gray0}; // dark-gray0 or 1? --> NOT used in new design
}

// Light Theme
.bp3-light {
  --focus-color: #{$light-gray4};
  --hover-background: #{$light-gray4};
  --hover-color: #{$black};

  // Text/icon color
  --text-color: rgb(32, 32, 32); // hsl(0, 0%, 20%);
  --text-muted-color: hsl(0, 0%, 45%);
  color: var(--text-color);

  // The (background) color of elements inside of panels
  --foreground-color: rgb(255, 255, 255); // #{$light-gray5};
  --foreground-color2: rgba(217, 217, 217); // #{$light-gray3}; // Left side
  // Background color of the main panels
  --background-color: #{$light-gray3}; // light-gray5 ? --> NOT used in new design
}

#layout-container {
  display: grid;
  grid-template-rows: var(--toolbar-height) 1fr;
  grid-template-columns: min-content 1fr min-content;
  grid-template-areas:
    'toolbar toolbar toolbar'
    'outliner main inspector';
}

.preloader {
  font-size: 18px;
  font-weight: 700;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Open Sans', 'Helvetica Neue', 'Icons16', sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  grid-area: main;
  display: flex;
  background: var(--foreground-color);
  padding-left: 0.5rem;
}

.contextMenuTarget {
  outline-color: $pt-intent-primary;
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
}

// Default browser CSS overrides
/* Prevent text selection in all HTML elements for more native feel */
*,
*::after,
*::before {
  -webkit-user-select: none;
}
// Disable default outline on focused elements (e.g. clicked buttons)
:focus {
  outline: none !important;
}
// Don't allow images to be dragged from within the app
img {
  -webkit-user-drag: none;
}

// Custom scrollbar style
::-webkit-scrollbar {
  width: 10px;
}

/* ////////// Scroll bar (Track and handle) ////////// */
.bp3-light {
  ::-webkit-scrollbar-track {
    background-color: $light-gray4;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $light-gray2;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: $light-gray5;
  }
}

.bp3-dark {
  ::-webkit-scrollbar-track {
    background-color: $dark-gray3;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $dark-gray5;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: $dark-gray6;
  }
}

.bp3-popover-backdrop {
  background: rgba(16, 22, 26, 0); //Set 2 zero for now
}

///////////////////////////////// Theme Colours /////////////////////////////////
// Todo: The nice thing about variables is that we can change them depending on the theme,
// instead of switching colors around like this
#preview,
#layout-container {
  background-color: var(--foreground-color);
}

#toolbar,
// #outliner,
#inspector {
  background-color: var(--foreground-color);
}

///////////////////////////////// Media Queries /////////////////////////////////
@media (max-width: 960px) {
  .toolbar-button-text:not(.always) {
    margin: 0;
    text-indent: -100vw;
    white-space: nowrap;
    overflow: hidden;
  }
}

///////////////////////////////// Misc /////////////////////////////////
// Error boundary (when app crashes)
.error-boundary {
  grid-area: main;

  .message {
    font-family: monospace;
    max-width: 120ch;
  }
}

// Change icon color (black/white) based on its intent (like Blueprint's built-in icons)
.custom-icon {
  width: 1rem;
  height: 1rem;
  margin: 0.125rem;
  flex-shrink: 0;

  * {
    fill: currentColor;
  }
}
.custom-icon-128 > * {
  height: 8rem;
  width: 8rem;
}
.custom-icon-64 > * {
  height: 4rem;
  width: 4rem;
}
.custom-icon-48 > * {
  height: 3rem;
  width: 3rem;
}
.custom-icon-32 > * {
  height: 2rem;
  width: 2rem;
}

.file-dropper-overlay {
  margin: auto;

  &::backdrop {
    background-color: $blue-trans1;
  }

  > .dialog-content {
    width: 400px;
  }

  .quick-tags {
    text-align: center;
    margin-top: 20px !important;
  }
}

.toast-without-dismiss {
  .bp3-button:last-child {
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
