///////////////////////////////// Help Center /////////////////////////////////
#help-center {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  overflow: hidden;
}

.doc-overview {
  overflow-y: auto;
  height: 100vh;
  background: var(--background-color-alt);

  details {
    padding: 0rem 0.5rem 0 1rem;

    &:first-child {
      margin-top: 0.5rem;
    }

    &:last-child {
      margin-bottom: 0.5rem;
    }
  }

  summary {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    padding: 0.5rem;

    // If that stops to work, use ::before instead and set this to 'display: none'.
    &::-webkit-details-marker {
      appearance: none;
      height: 0.75rem;
      width: 0.75rem;
      transform: rotateZ(-90deg);
      mask-image: url(~resources/icons/arrow-down.svg);
      -webkit-mask-image: url(~resources/icons/arrow-down.svg);
      background-color: currentColor;
    }

    &::-webkit-details-marker,
    .custom-icon {
      margin-right: 0.5rem;
    }
  }

  details[open] > summary::-webkit-details-marker {
    transform: none;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  li {
    padding: 0.25rem 2rem 0.5rem;
  }

  a:hover {
    color: var(--accent-color-blue);
    transition: color 0.2s $pt-transition-cubic2;
    cursor: pointer;
  }
}

.doc-page {
  overflow-y: auto;
  height: 100vh;
  padding: 0 2rem 0.5rem 1.25rem;

  .btn-group {
    margin: 0;
    float: right;

    .btn {
      min-width: 100px;
    }
  }
}

.doc-page-toolbar {
  background: var(--background-color);
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
}

.doc-page-content {
  margin: auto;
  margin-bottom: 1rem;
  max-width: 600px;

  img {
    max-width: 80%;
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &.centered {
      max-width: 80%;
      margin: 2rem auto;
      display: flex;
    }
  }

  p {
    margin-bottom: 1.2rem;
    line-height: 1.4;
  }
}
