///////////////////////////////// Help Center /////////////////////////////////
.help-center-drawer {
  margin: 0;
  margin-left: auto;
  height: 100vh;
  border-radius: 0;
  animation: none !important;

  > .dialog-content {
    max-width: 60ch;
    max-height: unset;
    height: 100%;
  }
}

#help-center {
  .bp3-panel-stack-view {
    color: var(--text-color) !important;
    background: var(--foreground-color) !important;
    margin: 0;
    border: none;
    position: initial;
  }

  .stack-paragraph {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .bp3-panel-stack-header {
    box-shadow: none;

    .bp3-panel-stack-header-back .sticky {
      position: fixed;
      top: 1rem;
    }
  }

  .btn-group {
    margin: 0;
    float: right;
  }

  button {
    min-width: 75px;
  }

  .bp3-text-overflow-ellipsis {
    // blueprint cuts of the header by default...
    overflow: inherit;
  }

  img {
    // Width of the help center panel
    max-width: 100%;
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .centered {
    max-width: 80%;
    margin: 2rem auto;
    display: flex;
  }
  p {
    margin-bottom: 1.2rem;
    line-height: 1.4;
  }
}

.help-center-home {
  > header {
    text-align: center;
    padding: 0.5rem;
  }

  nav {
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
  }

  details > summary {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    padding: 0.5rem;

    // If that stops to work, use ::before instead and set this to 'display: none'.
    &::-webkit-details-marker {
      appearance: none;
      height: 1rem;
      width: 1rem;
      transform: rotateZ(-90deg);
      mask-image: url(~resources/icons/arrow-down.svg);
      -webkit-mask-image: url(~resources/icons/arrow-down.svg);
      background-color: currentColor;
    }

    &::-webkit-details-marker,
    .custom-icon {
      margin-right: 0.5rem;
    }
  }

  details[open] > summary::-webkit-details-marker {
    transform: none;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  li {
    padding: 0.5rem 2rem;

    &:hover {
      color: var(--primary-color);
      transition: color 0.2s $pt-transition-cubic2;
      cursor: pointer;
    }
  }

  h2 {
    color: var(--primary-color);
    font-size: large;
    margin: 0 0 0.25rem;
  }

  p {
    line-height: 1.5;
  }
}
