///////////////////////////////// Inspector /////////////////////////////////
#inspector {
  width: var(--inspector-width);
  background-color: var(--background-color);

  > * {
    // Don't squash content of aside during parent transition
    width: var(--inspector-width);
    padding: 0.25rem 0.5rem;
  }

  header {
    text-align: center;
    padding: 0.5rem 1rem;
  }
}

// File info
table.file-info {
  display: block;
  border-spacing: 0 0.25rem;
  padding: 0 0.25rem;

  th {
    color: var(--text-color-muted);
    white-space: nowrap;
    font-weight: unset;
    text-align: unset;
    vertical-align: baseline;
  }

  th,
  td {
    padding: 0;
  }

  td {
    padding-left: 1rem;
    word-break: break-all;
  }

  // TODO: New design:
  // .listContentRow {
  //   display: flex;
  //   justify-content: left;
  //   align-items: stretch;
  // }
  // .listContentMetadata .header {
  //   padding: 0.125rem 0.5rem;
  //   display: flex;
  //   font-weight: bold;
  // }
  // .listContentMetadata .row {
  //   padding: 0.125rem 0.5rem;
  //   display: flex;
  //   justify-content: space-between;
  // }
}
