///////////////////////////////// Outliner /////////////////////////////////
#outliner {
  grid-area: outliner;
  display: flex;
  flex-direction: column;
  width: var(--outliner-width);
  padding-top: var(--toolbar-height);
  background-color: var(--foreground-color2);

  > * {
    // Don't squash content during parent transition
    width: var(--outliner-width);
    padding: 0.25rem 0.5rem 0.25rem 1rem;
  }
}

[data-os='darwin'] #outliner-toggle {
  left: var(--mac-system-buttons-width);
}

#outliner-toggle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.375rem 1rem;
  color: var(--text-color);
}

#outliner-content {
  // Show y scrollbar when there's loads of tags or location list items
  overflow-x: hidden;
  flex-grow: 1;

  &:hover header [role='toolbar'] {
    opacity: 1;
  }
}

#system-tags {
  flex-shrink: 0;
  justify-content: unset;

  > .toolbar-item {
    margin: 0 0.5rem;
  }
}

///////////////////////////////// Tag hierarchy /////////////////////////////////
#outliner-content header {
  display: flex;
  align-items: center;

  h2 {
    cursor: pointer;
    flex-grow: 1;
  }

  [role='toolbar'] {
    opacity: 0;
  }

  [role='toolbar']:focus-within {
    opacity: 1;
  }
}

#tree-footer {
  flex: 1;
  min-height: 16px;
}

#tag-hierarchy {
  .searched {
    // TODO: Use a color without alpha values...
    --foreground-color: #{$blue-trans2};
    --background-color: #{$blue-trans2};
    --focus-color: #{$blue-trans2};
    --hover-background: #{$blue-trans2};
  }

  .btn-icon {
    display: none;
  }

  .tree-content-label:hover > .btn-icon {
    display: inline-flex;
  }

  &.selected {
    --selection-background-color: transparent;
    --selection-font-color: var(--primary-color);

    .btn-icon {
      display: inline-flex;
    }
  }
}

.tree-content-label {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 100%;

  span {
    display: inline-flex;
  }

  &[data-dnd-target='true'] {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

    &.top {
      border: none;
      border-top: 2px solid var(--primary-color);
    }

    &.bottom {
      border: none;
      border-bottom: 2px solid var(--primary-color);
    }
  }

  &[data-dnd-source='true'] {
    opacity: 0.25;
  }

  .custom-icon {
    margin-right: 0.375rem;
    pointer-events: none;
  }

  > .btn-icon {
    cursor: pointer;
    margin-left: 0.25rem;

    > .custom-icon {
      margin-right: 0.125rem;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  input {
    width: 100%;
  }
}

#tag-remove-overview {
  margin-bottom: 0.5rem;
}
