///////////////////////////////// Outliner /////////////////////////////////
#outliner {
  grid-area: outliner;
  // Show y scrollbar when there's loads of tags or location list items
  overflow-x: hidden;
  flex-shrink: 0;
  transition: max-width 200ms $pt-transition-cubic2;
  z-index: 1;
  border-left: 1px solid var(--background-separator-color);
  border-right: 1px solid var(--background-separator-color);

  // Sidebar CSS transition
  &.sliding-sidebar-enter {
    max-width: 0;
  }
  &.sliding-sidebar-enter-active {
    max-width: var(--outliner-width);
  }
  &.sliding-sidebar-exit {
    max-width: var(--outliner-width);
  }
  &.sliding-sidebar-exit-active {
    max-width: 0;
  }

  > * {
    // Don't squash content during parent transition
    min-width: var(--outliner-width);
  }

  > div:hover .outliner-header-wrapper:not(last-child) > * {
    opacity: 1;
  }

  .bp3-divider {
    margin: 1rem;
    border-color: var(--background-color);
  }
}

///////////////////////////////// Tag hierarchy /////////////////////////////////
.outliner-header-wrapper {
  display: flex;
  min-height: 39px;
  background: transparent !important;
  cursor: pointer;
  padding-right: 2px;

  .bp3-heading {
    margin: 0.5em 1rem;
    margin-right: auto;
    // caret icon
    > .bp3-icon {
      margin-right: 4px;
      margin-bottom: 2px;
      margin-left: 4px;
    }
  }

  .bp3-button {
    opacity: 0;
  }
}

#tree-footer {
  flex: 1;
  min-height: 16px;
}

.tags-tree {
  .searched {
    // TODO: Use a color without alpha values...
    --foreground-color: #{$blue-trans2};
    --background-color: #{$blue-trans2};
    --focus-color: #{$blue-trans2};
    --highlight-background-color: #{$blue-trans2};
    color: $light-gray4;
  }

  .after-icon {
    cursor: pointer;
    display: none;
  }

  .tree-content-label:hover > .after-icon {
    display: unset;
  }

  &.selected {
    --selection-background-color: transparent;
    --selection-font-color: var(--primary-color);

    .after-icon {
      display: unset;
    }
  }
}

.tree-content-label {
  display: flex;
  align-items: center;
  min-height: 1.75rem;
  width: 100%;

  &[data-dnd-target='true'] {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

    &.top {
      border: none;
      border-top: 2px solid var(--primary-color);
    }

    &.bottom {
      border: none;
      border-bottom: 2px solid var(--primary-color);
    }
  }

  &[data-dnd-source='true'] {
    opacity: 0.25;
  }

  > .pre-icon,
  > .after-icon {
    flex-shrink: 0;
  }

  > .pre-icon {
    margin-right: 0.25rem;
  }

  > .after-icon {
    margin-left: 0.25rem;
  }

  > div {
    display: flex;
    align-items: center;
    height: 1.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    > .bp3-input {
      height: 100%;
      width: 100%;

      &:focus,
      &.bp3-active {
        box-shadow: none !important;
        border: 1.5px solid $blue1;
      }
    }
  }
}

#system-tags {
  .bp3-button {
    margin: 0;
    border-radius: 0;
  }

  .bp3-button-text {
    margin-right: auto;
  }

  .bp3-button:hover {
    border-left: 2px solid var(--primary-color);
  }

  .bp3-active {
    color: $blue1;
    background: transparent;

    .custom-icon {
      color: $blue1;
    }
  }
}

.bp3-alert {
  max-width: 550px; // default is 400, quite narrow
}

.bp3-alert-contents {
  min-height: 100px;

  > strong {
    display: block;
    font-size: medium;
    margin-bottom: 1rem;
  }

  > p,
  strong {
    line-height: 1.5em;
  }
}
