.settings {
  max-width: 22rem;
  padding: 1rem;

  // .custom-icon {
  //   color: $dark-gray4;
  // }

  .bp3-drawer-header,
  .bp3-drawer-body,
  .bp3-drawer-body .bp3-divider,
  .bp3-dialog-header {
    padding: 0 0 0.5rem 0;
    margin-bottom: 1rem;
    width: 100%;
  }

  .bp3-drawer-body {
    overflow: unset;
  }

  // For the hotkeys tip
  .bp3-key-combo {
    display: inline;
  }
}
