.section {
  margin-bottom: 0.5rem;
}
#actionbar {
  // Design v3
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  // extra css (from the section previously named #system-tags)
  flex-shrink: 0;
  justify-content: unset;
  > .toolbar-item {
    margin: 0 0.5rem;
  }

  // TODO: the buttons are currently .toolbar-button - not .actionbarBtn
  .toolbar-button {
    background: none;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.25rem;
  }
  img {
    height: 0.8125rem;
  }
  .toolbar-button:active,
  .toolbar-button:hover {
    color: #3399ff;
  }
  img {
    height: 0.8125rem;
  }
  span {
    margin: 0 0.125rem;
    font-size: 0.6875rem;
    font-weight: bold;
  }
}
