///////////////////////////////// Splash Screen /////////////////////////////////
#splash-screen {
  width: 100vw;
  height: 100vh;

  // The content that should be on top must a child element.
  > * {
    z-index: 2;
  }

  // Setting content property to '' will make the background visible.
  &::after,
  &::before {
    content: '';
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  // Gradient overlay and noise texture
  &::after {
    background: var(--background-color);
    background: url(~resources/images/noise.png),
      -webkit-gradient(linear, 0% 80%, 0% 20%, from(#14181ae5), to(#14181a00));
    z-index: 1;
  }

  // Background image
  &::before {
    background: var(--background-color);
    background: url(~resources/images/welcome-bg-16-9-low.jpg);
    background-position: center;
    background-position-x: left;
    background-size: 100%;
    z-index: 0;
  }
}
