@import './colors.scss';
// Default colors and variables
.app-theme {
  --primary-color: #{$blue1};
  --stroke-color: #{$gray3};
  --selection-background-color: #007bf53f;
  --selection-font-color: white;
}

// Dark Theme
.app-theme.bp3-dark {
  --focus-color: #{$dark-gray3};
  --highlight-background-color: #{$dark-gray3};
  --highlight-font-color: white;
  --caret-color: #{$light-gray1};
  --foreground-color: #{$dark-gray1};
  --background-color: #{$dark-gray0};
}

// Light Theme
.app-theme.bp3-light {
  --focus-color: #{$light-gray4};
  --highlight-background-color: #{$light-gray4};
  --highlight-font-color: #{$black};
  --caret-color: #{$dark-gray1};
  --foreground-color: #{$light-gray5};
  --background-color: #{$light-gray3};
}
