@import './colors.scss';
// Default colors and variables
.app-theme {
  --primary-color: #{$blue1};
  --stroke-color: #{$gray3};
  --selection-background-color: #{$blue-trans2};
  --selection-font-color: white;
  --treeitem-identation: 1rem;
  --treeitem-offset: 1rem;
  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-large: 10px;
}

// Dark Theme
.app-theme.bp3-dark {
  --focus-color: #{$dark-gray3};
  --highlight-background-color: #{$dark-gray3};
  --highlight-font-color: white;
  --caret-color: #{$light-gray1};
  --foreground-color: #{$dark-gray1};
  --background-color: #{$dark-gray0};
}

// Light Theme
.app-theme.bp3-light {
  --focus-color: #{$light-gray4};
  --highlight-background-color: #{$light-gray4};
  --highlight-font-color: #{$black};
  --caret-color: #{$dark-gray1};
  --foreground-color: #{$light-gray5};
  --background-color: #{$light-gray3};
}
