///////////////////////////////// Outliner /////////////////////////////////
#toolbar {
  grid-area: toolbar;
  display: grid;
  gap: 1rem;
  padding: 0 0.5rem;
  border-bottom: 2px solid var(--background-separator-color);
  border-left: 1px solid var(--background-separator-color);
  border-right: 1px solid var(--background-separator-color);

  // Since the toolbar is acting as the frame, it should be draggable to move the window around
  -webkit-app-region: drag;
  // But all of the buttons should not be draggable, else not clickable
  button {
    -webkit-app-region: none;
  }

  &.mac-toolbar {
    // The region on the top left is replaced with system buttons by Electron/OSX
    grid-template-columns: var(--mac-system-buttons-width) var(--outliner-width) 1fr min-content;
    grid-template-areas: '. outliner-toolbar main-toolbar inspector-toolbar';
  }

  &.windows-toolbar {
    grid-template-columns: var(--outliner-width) 1fr min-content var(--window-system-buttons-width);
    grid-template-areas: 'outliner-toolbar main-toolbar inspector-toolbar .';
  }

  // Since the toolbar is acting as the frame, it should be draggable to move the window around
  -webkit-app-region: drag;
  // But all of the buttons should not be draggable, else not clickable
  button {
    -webkit-app-region: none;
  }

  &.mac-toolbar {
    // The region on the top left is replaced with system buttons by Electron/OSX
    grid-template-columns: var(--mac-system-buttons-width) var(--outliner-width) 1fr min-content;
    grid-template-areas: '. outliner-toolbar main-toolbar inspector-toolbar';
  }

  &.windows-toolbar {
    grid-template-columns: var(--outliner-width) 1fr min-content var(--window-system-buttons-width);
    grid-template-areas: 'outliner-toolbar main-toolbar inspector-toolbar .';
  }

  // Turn of event for show media items
  #media {
    pointer-events: none;
    white-space: nowrap;
    > * {
      cursor: default;
      pointer-events: auto;
    }
  }

  .custom-icon {
    width: 1rem !important;
    height: 1rem !important;
  }
}

#preview #toolbar {
  // For frameless app
  // margin-left: 4rem;
  // margin-top: .25rem;
  display: flex;
  align-items: center;

  .bp3-button {
    padding: 0;
    height: 100%;
  }
  .bp3-switch {
    margin: 0;
  }
}

#main-toolbar {
  grid-area: main-toolbar;
  display: flex;
  justify-content: space-evenly;
}

#outliner-toolbar {
  grid-area: outliner-toolbar;
}

#inspector-toolbar {
  grid-area: inspector-toolbar;
}

#window-system-buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--window-system-buttons-width);
  height: 2.4rem;
  padding-bottom: 2px;
  // The font for windows system icons
  font-family: 'Segoe MDL2 Assets';
  .close:hover {
    border-bottom: 2px solid $danger;
  }

  button {
    width: 2.5rem;
    font-size: 0.675rem;
  }
}

// Invisible region in order to still resize the window by dragging from the top when not maximized
#window-resize-area {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.vertical-toolbar {
  #toolbar {
    width: var(--toolbar-height);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-right: 1px solid var(--background-separator-color);

    #outliner-toolbar,
    #inspector-toolbar {
      flex-direction: column;
    }
  }

  #inspector {
    padding-top: var(--toolbar-height);
  }

  #main-toolbar {
    height: var(--toolbar-height);
    background-color: var(--foreground-color);
    border-bottom: 2px solid var(--background-separator-color);
    border-left: 1px solid var(--background-separator-color);
    justify-content: space-between;

    // Since the toolbar is acting as the frame, it should be draggable to move the window around
    -webkit-app-region: drag;
    // But all of the buttons should not be draggable, else not clickable
    button {
      -webkit-app-region: none;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      -webkit-app-region: none;
      height: var(--toolbar-height);
    }

    &::before {
      width: calc(var(--mac-system-buttons-width) - var(--toolbar-height));
    }

    &::after {
      width: var(--window-system-buttons-width);
    }
  }
}
