///////////////////////////////// Toolbar /////////////////////////////////


// Invisible region in order to still resize the window by dragging from the top when not maximized
#window-resize-area {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
}

.toolbar-input {
  padding: 0.25rem;
  flex-grow: 1;
}

.floating-dialog {
  position: absolute;
  z-index: 200;
  top: var(--toolbar-height);
  left: calc(50% - 200px);

  background-color: var(--background-color);
}

.tag-files-widget {
  padding: 0.5em;
  width: 400px;
  height: 200px;
  max-height: 200px;
  border-radius: 0.25rem;

  box-shadow: 6px 8px 12px 6px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;

  input {
    width: 100%;
  }

  > ul {
    flex: 1 0;
    overflow: auto;

    padding: 0;
    margin: 2px 0;
    list-style-type: none;

    > li {
      &:hover {
        background: var(--hover-background);
      }
      border: 2px solid transparent;
      &:focus {
        border: 2px solid var(--focus-color);
      }

      .tag-item-icon {
        display: inline-flex;
      }

      display: flex;
      > *:nth-child(2) {
        flex: 1 0;
      }
    }
  }

  > div:last-child {
    margin-top: 4px;
    max-height: 50px;
    overflow: auto;
  }
}
