///////////////////////////////// Outliner /////////////////////////////////
#toolbar {
  grid-area: toolbar;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem; /*  0 5rem; WIP frameless */
  z-index: 1000;
  border-bottom: 2px solid $dark-gray0;
  border-left: 1px solid $dark-gray0;
  border-right: 1px solid $dark-gray0;

  // Since the toolbar is acting as the frame, it should be draggable to move the window around
  -webkit-app-region: drag;
  // Invisible region in order to still resize the window by dragging from the top when not maximized
  .resizer {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
  }

  // But all of the buttons should not be draggable, else not clickable
  .bp3-button {
    -webkit-app-region: none;
  }

  &.mac-toolbar {
    // The region on the top left is replaced with system buttons by Electron/OSX
    padding-left: 5rem;
  }


  .windows-system-buttons {
    // The font for windows system icons
    font-family: "Segoe MDL2 Assets";
    .close:hover {
      border-bottom: 2px solid $danger;
    }
  }

  #inspector-toolbar {
    width: var(--inspector-width) !important;
    padding-left: 0.5em;
    // Ensure that on windows, the 
    display: flex;
    // On mac, align inspector items to the right
    justify-content: end;
  }
  
  &.windows-toolbar {
    #inspector-toolbar {
      // On windows, align system buttons to the right, but inspector buttons to the left, with space in between
      justify-content: space-between;
    }
  }

  // Turn of event for show media items
  #media {
    pointer-events: none;
    white-space: nowrap;
    > * {
      cursor: default;
      pointer-events: auto;
    }
  }

  .custom-icon {
    width: 1rem !important;
    height: 1rem !important;
  }

  .spacer {
    width: 8rem;
    background: red;
    height: 1rem;
  }

  #main-toolbar {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 40rem);
    left: 16rem;
    position: absolute;
  }
}

.toolb-center {
  justify-content: center !important;
}
#preview-toolbar {
  // For frameless app
  // margin-left: 4rem;
  // margin-top: .25rem;
  display: flex;
  align-items: baseline;
}

#main-toolbar.separated {
  // Intended for when the main (content) toolbar is separate from the rest of the toolbar
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
  height: 2.4rem;
  justify-content: space-between;
  background: $dark-gray1;
  border-bottom: 2px solid $dark-gray0;
  border-left: 1px solid $dark-gray0;
  border-right: 2px solid $dark-gray0;
  &.outlineropen {
    padding: 0 0.5rem 0 2rem;
  }
  .bp3-button {
    background: transparent !important;
  }
}
