// Styling to match Allusion Mockups
$pt-transition-cubic1: cubic-bezier(0.4, 1, 0.75, 0.9) !default;
$pt-transition-cubic2: cubic-bezier(0.4, 0, 0.2, 1) !default;
$pt-transition-cubic2-delay: cubic-bezier(0.4, 0, 0.2, 1) 0.8s !default;
$pt-transition-ease-bounce: cubic-bezier(0.54, 1.12, 0.38, 1.11) !default;
$pt-transition-duration: 100ms !default;
