///////////////////////////////// Welcome Dialog /////////////////////////////////
.welcome-dialog[open] {
  animation: none !important;
  display: flex;
  opacity: 1;
  backdrop-filter: unset;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: rgb(32, 32, 32);

  > .dialog-content {
    grid-template-areas:
      'dialog-icon dialog-icon dialog-icon'
      'dialog-title dialog-title dialog-title'
      'dialog-information dialog-information dialog-information'
      'dialog-footer dialog-footer dialog-footer';
    margin: auto;
  }

  .dialog-title {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 2rem;
    color: rgb(32, 32, 32) !important;
  }

  .dialog-icon {
    background-image: url(~resources/logo/allusion-logomark-white.svg);
    background-size: contain;
    width: 90px;
    height: 90px;
    margin: auto;
    margin-bottom: 1rem;
    color: rgb(32, 32, 32) !important;
  }

  p {
    margin: 1rem auto 2rem;
    line-height: 1.6;
  }
}

.allusion-splash-background.splash,
.welcome-dialog[open] {
  &::after,
  &::before {
    content: '';
  }
}

.allusion-splash-background {
  width: 100vw;
  height: 100vh;

  // The content that should be on top must a child element.
  > * {
    z-index: 2;
  }

  // Setting content property to '' will make the background visible.
  &::after,
  &::before {
    background: var(--accent-color-green);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
