.vertical-transition,
.horizontal-transition {
  > * {
    transition: transform 0.2s ease-out;
  }
}

.vertical-transition {
  overflow-y: hidden;
  height: 100%;
  transition: height 0.2s ease-out;
}

.vertical-transition[data-transition-in='false'] {
  height: 0;

  > * {
    transform: translateY(-100%);
  }
}

.horizontal-transition {
  overflow-x: hidden;
  width: 100%;
  transition: width 0.2s ease-out;
}

.horizontal-transition[data-transition-in='false'] {
  width: 0 !important;

  > * {
    transform: translateX(-100%);
  }
}
