// Adjustment Colors
$black: #050505 !default;

$dark-gray1: #181818 !important;
$dark-gray2: #222222 !important;
$dark-gray3: #282828 !important;
$dark-gray4: #495057 !important;
$dark-gray5: #3e3e3e !important;

$gray1: #5c7080 !important;
$gray2: #738694 !important;
$gray3: #8a9ba8 !important;
$gray4: #a7b6c2 !important;
$gray5: #bfccd6 !important;

$light-gray1: #919191;
$light-gray2: #d8e1e8 !important;
$light-gray3: #e1e8ed !important;
$light-gray4: #ebf1f5 !important;
$light-gray5: #f7f9fa !important; //#f5f8fa !default;
$white: #ffffff !default;

// Core colors

$blue0: #007acc !important;
$blue1: #007af5 !important;
$blue2: #1d64c0 !important;
$blue3: #009de0 !important;
$blue4: #2b95d6 !important;
$blue5: #48aff0 !important;

$yellow1: #f7ea3a !important;
