///////////////////////////////// Content area /////////////////////////////////
.gallery {
  width: 100%;
  padding: 8px;
  height: 100%;
}

#query-overview {
  background: $dark-gray1;
  border-radius: 4px;
  padding: 0.25rem 0.25rem 0 0;
  position: sticky;
  top: 0rem;
  z-index: 999;
}

#query-overview .bp3-tag {
  margin: 0 0 0.5em 0.5em;
}

.gallery-content {
  height: 100%;
}

/////////////////////// Thumbnail //////////////////////////////////
.thumbnail {
  // This is to demanding on processor
  // transition: all 0.1s ease-in-out;
  width: $thumbnail-size;
  height: $thumbnail-size;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  margin: 0.4rem;

  .h4 {
    grid-area: title;
  }

  .img-wrapper {
    grid-area: image;

    width: $thumbnail-size;
    height: $thumbnail-size;

    .bp3-skeleton {
      width: 100%;
      height: 100%;
    }

    img {
      // This is to demanding on processor
      // transition: all 0.1s ease-in-out;
      width: $thumbnail-size;
      height: $thumbnail-size;
      object-fit: cover;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      display: block;
      transform-origin: center;
      // transform: scale(1);
      // transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &.selected {
    background: $blue1;

    img {
      transform: scale(0.9);
      transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &.open img {
    outline-color: red;
    outline-width: 5px;
    outline-offset: -5px;
    outline-style: solid;
  }

  &.droppable {
    background: $yellow1;

    img {
      transform: scale(0.95);
    }
  }
  
  &.undroppable {
    background: $pt-intent-warning;
  }  

  .thumbnailTags {
    grid-area: tags;

    // This is to demanding on process
    // transition: height 0.1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
    padding: 0.4em 0.4rem 0.15rem 0.4rem;
    position: absolute;
    bottom: 0;
  
    > * {
      margin: 0.5em;
    }
  }

  #fileInfo {
    grid-area: info;
  }
}


/////////////////////// View methods //////////////////////////////////
.list .thumbnail {
  width: auto;
  height: 100%;
  margin-left: 0.4rem;
  margin-right: 0.4rem;

  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: auto 1fr;
  grid-template-rows:    auto 1fr;
  grid-template-areas: "image title"
                       "image info"
                       "image tags";

  img {
    margin-left: 0;
    margin-right: 1rem;
    border-radius: 0.25rem;
  }
  span > * {
    text-align: left !important;
  }
  .thumbnailTags {
    position: relative;
  }
}
.grid .thumbnail {
  width: $thumbnail-size;
  height: $thumbnail-size;
  img {
    width: $thumbnail-size;
    height: $thumbnail-size;
  }
  // display: flex;
  // span:nth-child(3) {
  //   z-index: -1;
  //   background: red !important;
  // }
}
.slide .thumbnail {
  height: calc(100vh - 2.4rem) !important;
  width: 100% !important;
  margin: 0.4rem 0;
  img {
    height: 100% !important;
    width: 100% !important;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    object-fit: contain;
    top: 50%;
    left: 50%;
  }
  span {
    display: none;
  }
  &.selected img {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}
