///////////////////////////////// Outliner /////////////////////////////////
nav {
  grid-area: outliner;
  overflow: auto;
  flex-shrink: 0;
  width: 0;
  min-width: 0;
  transition: min-width 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &.outlinerOpen {
    min-width: var(--outliner-width);
    width: 16rem;
  }

  .bp3-dark {
    background: $dark-gray2;
  }
  &.outlinerOpen #import {
    overflow: visible !important;
  }
  .bp3-heading {
    margin: 0.5em 1rem;
  }
}
#search-form,
#import {
  margin: 0.5em 1rem;
  outline: none;
}

///////////////////////////////// Import /////////////////////////////////

#import {
  > button {
    margin-bottom: 1rem;
    color: $light-gray1;
  }
  .bp3-button.bp3-fill {
    background: $dark-gray5;
  }
}
///////////////////////////////// Tag hierarchy /////////////////////////////////
nav .bp3-tree {
  background-color: $dark-gray2;
}
.bp3-light {
  background-color: $light-gray2;
}

// Reordering by dragging
.bp3-tree-node .reorder-target {
  border-bottom: 2px solid $blue1;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}

.bp3-tree-node .reorder-source,
.bp3-tree-node .reorder-source > div {
  opacity: 0.2;
}
.bp3-control-group {
  padding: .25rem;
}
.bp3-input {
  padding: 0 .25rem;
}
.bp3-input:focus {
  box-shadow: 0 0 0 1.5px $blue1;
  // box-shadow: none !important;
}

.tagLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bp3-tree .bp3-input {
  height: 1.6rem;
}

///////////////////////////////// Search tab /////////////////////////////////
#search-form {
  .bp3-popover-target {
    width: 100%;
  }
}
