///////////////////////////////// Outliner /////////////////////////////////
nav {
  grid-area: outliner;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
  width: 0;
  min-width: 0;
  transition: min-width 0.2s $pt-transition-ease2;

  // Putt 2 buttons at bottom
  // display: flex;
  // flex-direction: column;

  &.outlinerOpen {
    min-width: var(--outliner-width);
    width: 16rem;

    button.bp3-button.bp3-minimal {
      opacity: 0;
      border-radius: 0;
      margin-bottom: 1px;
      border-bottom: 1px solid #ffffff00;
      transition: 0.2s $pt-transition-ease2;
    }
  }

  // > * {
  //   // Don't squash content of nav during parent transition
  //   // BReaks with buttons
  //   // width: 16rem;
  // }

  .bp3-dark {
    background: $dark-gray2;
  }

  &.outlinerOpen #import {
    overflow: visible !important;
  }

  .bp3-heading {
    margin: 0.5em 1rem;
  }
}

// #search-form,
#import {
  margin: 0.5em 1rem;
  outline: none;
}

// .outlinerOpen button.bp3-button.bp3-minimal {
//   opacity: 0;
//   transition: .2s cubic-bezier(0.4, 0.0, 0.2, 1);
// }

///////////////////////////////// Import /////////////////////////////////
#import,
// #search-form,
.gallery,
.error-boundary,
.inspectorOpen {
  // .error-boundary
  > button,
  .button.bp3-fill,
  button.bp3-button.bp3-fill,
  .bp3-non-ideal-state button.bp3-button,
  .bp3-button:not([class*='bp3-intent-']) {
    color: $light-gray2;
  }

  > button,
  .button.bp3-fill,
  .bp3-non-ideal-state button.bp3-button {
    margin-bottom: 0.5rem;
  }

  button.bp3-fill,
  // .bp3-non-ideal-state button.bp3-button:not(.bp3-intent-primary),
  .bp3-button:not([class*="bp3-intent-warning"]):not([class*="bp3-intent-danger"]):not([class*="bp3-intent-primary"]):not([title]):not(.bp3-dialog-close-button):not(.bp3-minimal) {
    // .bp3-multi-select .bp3-minimal {
    background: $light-gray1-trans;
    color: $light-gray2;
  }
  .bp3-input.bp3-minimal {
    background: none !important;
  }
  .bp3-non-ideal-state button.bp3-button:not(.bp3-intent-primary),
  .bp3-button:not([class*='bp3-intent-warning']):not([class*='bp3-intent-danger']) {
    // .bp3-icon > svg:not([fill]) {
    color: $light-gray3;
  }

  button.bp3-intent-primary {
    background: $light-gray0-trans !important;
  }

  button.bp3-intent-primary {
    background: $light-gray0-trans !important;
  }
}

#search-form {
  button {
    &.bp3-intent-primary {
      background: $blue1;
      color: $light-gray4;
      box-shadow: none !important;
    }

    &.bp3-fill:not([class*='bp3-intent-primary']) {
      border: 1.3px solid $light-gray5-trans !important;
      color: #495057;
      background: none;
    }

    &:hover {
      background-color: $dark-gray3;
      color: $light-gray5;
    }
  }
  .bp3-input button:hover {
    background-color: transparent !important;
  }
  .add-remove {
    button {
      &.bp3-fill:not([class*='bp3-intent-primary']),
      &.bp3-button:not([class*='bp3-intent-primary']) {
        background: $light-gray5-trans;
        color: $light-gray1 !important;
      }
      .custom-icon {
        color: $dark-gray4;
      }
      &:hover {
        background-color: $light-gray6-trans !important;
        color: $light-gray5;
      }
    }
  }
}

.bp3-overlay .bp3-button:not([class*='bp3-intent-']):not(.bp3-dialog-close-button):not(.bp3-minimal) {
  background: $light-gray1-trans;
  color: $light-gray2;
}

///////////////////////////////// Tag hierarchy /////////////////////////////////
.outliner-header-wrapper {
  display: flex;
  min-height: 39px;
  background: transparent !important;
  cursor: pointer;

  h4 {
    margin-left: 4px;
    margin-right: auto;
      // caret icon
    > .bp3-icon {
      margin-right: 8px;
      margin-bottom: 2px;
    }
  }
}

#outliner {
  > div:hover .outliner-header-wrapper:not(last-child) > * {
    opacity: 1;
  }
}

nav .bp3-tree {
  background-color: $dark-gray2;
  overflow: auto;

  .bp3-tree-root {
    overflow: hidden;
  }
}

.bp3-light {
  background-color: $light-gray2;
}

#tree-footer {
  flex: 1;
  min-height: 16px;
}

// Reordering by dragging
.bp3-tree-node {
  &-label {
    // min-height: 20px !important;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  .reorder-target {
    border-bottom: 2px solid $blue1;
  }
  .reorder-source {
    // .bp3-tree-node .reorder-source > div {
    opacity: 0.25;
    &.reorder-target {
      opacity: 1 !important;
    }
  }
}

// .bp3-tree-node .reorder-source {
// // .bp3-tree-node .reorder-source > div {
//   opacity: 0.25;
//   &.reorder-target {
//     opacity: 1 !important;
//   }
// }

.bp3-control-group {
  padding: 0.25rem 0;
}

.bp3-input {
  padding: 0 0.5rem;
  border-radius: 6px;
}

.bp3-input:focus,
.bp3-input.bp3-active {
  box-shadow: 0 0 0 1.5px $blue1;
  // box-shadow: none !important;
}

.tagLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bp3-tree .bp3-input {
  height: 1.6rem;
}

#watched-folders {
  div > span:first-child {
  padding: 0.25rem 0.05rem;
  margin-left: 0.5rem;
  }
  > li {
    list-style-type: none;

    > span {
      width: calc(100% - 30px);
      display: inline-block;
      height: 30px;
      display: flex;
      align-items: center;
    }
  }
}
