///////////////////////////////// Outliner /////////////////////////////////
nav {
  grid-area: outliner;
  overflow: -webkit-paged-y;
  flex-shrink: 0;
  width: 0;
  min-width: 0;
  transition: min-width 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  // Putt 2 buttons at bottom
  // display: flex;
  // flex-direction: column;

  &.outlinerOpen {
    min-width: var(--outliner-width);
    width: 16rem;

    button.bp3-button.bp3-minimal {
      opacity: 0;
      transition: .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
  }

  .bp3-dark {
    background: $dark-gray2;
  }

  &.outlinerOpen #import {
    overflow: visible !important;
  }

  .bp3-heading {
    margin: 0.5em 1rem;
  }
}

// #search-form,
#import {
  margin: 0.5em 1rem;
  outline: none;
}

// .outlinerOpen button.bp3-button.bp3-minimal {
//   opacity: 0;
//   transition: .2s cubic-bezier(0.4, 0.0, 0.2, 1);
// }

///////////////////////////////// Import /////////////////////////////////

#import,
#search-form,
.gallery,
.error-boundary {

  // .error-boundary
  >button,
  .button.bp3-fill,
  button.bp3-button.bp3-fill,
  .bp3-non-ideal-state button.bp3-button {
    color: $light-gray2;
  }

  >button,
  .button.bp3-fill,
  .bp3-non-ideal-state button.bp3-button {
    margin-bottom: .5rem;
  }

  button.bp3-fill,
  // .bp3-non-ideal-state button.bp3-button:not(.bp3-intent-primary),
  .bp3-button:not([class*="bp3-intent-warning"]):not([class*="bp3-intent-danger"]):not([class*="bp3-intent-primary"]) {
    background: $light-gray1-trans;
    color: $light-gray2;
  }

  .bp3-non-ideal-state button.bp3-button:not(.bp3-intent-primary),
  .bp3-button:not([class*="bp3-intent-warning"]):not([class*="bp3-intent-danger"]) {
    // .bp3-icon > svg:not([fill]) {
    color: $light-gray3;
  }

  button.bp3-intent-primary {
    background: $light-gray0-trans;
  }

  button.bp3-intent-primary {
    background: $light-gray0-trans;
  }
}

///////////////////////////////// Tag hierarchy /////////////////////////////////
#outliner-tags-header-wrapper {
  display: flex;
  min-height: 39px;

  h4 {
    margin-right: auto;
  }
}

#outliner {
  &:hover #outliner-tags-header-wrapper:not(last-child)>* {
    opacity: 1;
  }
}

nav .bp3-tree {
  background-color: $dark-gray2;
  overflow: auto;

  .bp3-tree-root {
    overflow: hidden;
  }
}

.bp3-light {
  background-color: $light-gray2;
}

#tree-footer {
  flex: 1;
  min-height: 16px;
}

// Reordering by dragging
.bp3-tree-node .reorder-target {
  border-bottom: 2px solid $blue1;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}

.bp3-tree-node .reorder-source,
.bp3-tree-node .reorder-source>div {
  opacity: 0.2;
}

.bp3-control-group {
  padding: .25rem;
}

.bp3-input {
  padding: 0 .25rem;
  border-radius: 6px;
}

.bp3-input:focus,
.bp3-input.bp3-active {
  box-shadow: 0 0 0 1.5px $blue1;
  // box-shadow: none !important;
}

.tagLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bp3-tree .bp3-input {
  height: 1.6rem;
}

///////////////////////////////// Search tab /////////////////////////////////
#search-form {
  .bp3-popover-target {
    width: 100%;
  }

  #actions-bar {
    float: right;
  }

  .criteria {
    .bp3-control-group {
      padding: 0px;
    }

    .add-remove {
      flex-grow: 0;
      margin-left: 8px;

      button {
        min-width: 15px;
        min-height: 15px;
        width: 15px;
        height: 15px;
        line-height: 0;
        padding: 5px;
      }

      button:hover * {
        line-height: 0;
      }
    }
  }
}

#system-tags {
  .bp3-button-text {
    margin-right: auto;
  }
}

#tag-remove-overview {
  padding: 8px;
  max-height: 100px;
  overflow-y: auto;
}