///////////////////////////////// Outliner /////////////////////////////////
#toolbar {
  grid-area: toolbar;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  z-index: 1000;
  border-bottom: 2px solid $dark-gray1;
  // Turn of event for show media items
  #media {
    pointer-events: none;
    white-space: nowrap;
  }

  .custom-icon {
    width: 1rem !important;
    height: 1rem !important;
  }

  .spacer {
    width: 8rem;
    background: red;
    height: 1rem;
  }

  #main-toolbar {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 40rem);
    left: 16rem;
    position: absolute;
  }
}

// For frameless app
// #preview-toolbar{
//   margin-left: 4rem;
//   margin-top: .25rem;
// }
