[role='combobox'] {
  > input {
    height: 100%;
    width: 100%;
  }

  input {
    min-height: 1.5rem;
    border: none;
    background: transparent;
  }
}

.multiautocomplete-input {
  width: 100%;
  display: flex;
  align-items: flex-start;

  > .input-wrapper {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  input {
    width: 15ch;
    flex-grow: 1;
  }

  > .btn-icon {
    min-width: 1.5rem;
    min-height: 1.5rem;

    .custom-icon {
      height: 0.75em;
      width: 0.75em;
    }
  }
}

.input {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
  border-radius: 0.25rem;
  margin: 0.125rem 0.25rem;
  cursor: text;
  line-height: 1.5rem;

  &:hover {
    background: rgba(0, 0, 0, 0.075);
  }

  &:focus-within {
    background: unset; // Clear hover effect
    box-shadow: 0 0 0 0.125rem rgb(51, 153, 255);
  }
}

/** We cannot use <input type="file" /> as we want to pick directories. However,
    I am too lazy to create an additional React component + SASS file. This
    seems even more overkill than having a Toggle component. At least there is
    some complex CSS going on. So, you have to use this class.

    # Example in React
    ```ts
    const { path, browseDirectory, placeholder } = props;

    <div className="input-file">
      <span className="input input-file-value">{path ?? placeholder}</span>
      <Button styling="filled" text="Browse" onClick={browseDirectory} />
    </div>
    ```
*/
.input-file {
  display: flex;

  .input-file-value {
    margin: 0;
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    flex-grow: 1;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}
