.radio {
  -webkit-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: text-bottom;
  margin-right: 0.5rem;
  transition: background-color 0.3s;
  border: 2px solid var(--stroke-color);
  border-radius: 50%;

  &:checked {
    border-color: var(--primary-color);

    &:hover {
      filter: saturate(200%);
    }
  }

  &::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease-in;
  }

  &:checked::before {
    transform: scale(0.5);
    transition: transform 0.2s cubic-bezier(0.25, 0.25, 0.56, 2);
  }

  &:hover {
    filter: brightness(125%);
  }

  &:focus {
    outline: none;
    border-color: var(--focus-color);
  }
}

.radio_group {
  margin: 0;
  border: none;
  padding: 0 0 0.5rem;

  legend {
    display: block;
    margin-bottom: 1rem;
  }

  label {
    padding-inline-end: 1rem;
  }
}
