#search-form {
  .criteria {
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;

    > * {
      flex-grow: 1;
    }

    > select:not(:nth-child(3)) {
      max-width: 25%;
    }

    > .btn {
      flex-grow: 0;
      height: 1.5rem;
      width: 1.5rem;
    }

    .multiautocomplete-input {
      input {
        width: 0; // for it to align with other criteria types
      }
    }
  }
}

#functions-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  [role='radiogroup'] {
    > div {
      flex-direction: row;
      align-items: center;
    }

    legend {
      margin: 0;
      margin-right: 1.5rem;
    }

    label {
      margin: 0;

      & :first-of-type {
        margin-right: 1rem;
      }
    }
  }
}
