#search-form {
  fieldset {
    margin-bottom: 0.25rem;
  }
  .criteria {
    display: flex;
    align-items: center;

    > * {
      flex-grow: 1;
    }

    > select:not(:nth-child(3)) {
      max-width: 25%;
    }

    > .btn {
      flex-grow: 0;
      height: 1.5rem;
      width: 1.5rem;
    }

    .multiautocomplete-input {
      input {
        width: 0; // for it to align with other criteria types
      }
    }
  }
}

#functions-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;

  > fieldset {
    margin: 0 !important;
    > div {
      display: flex;
      align-items: center;

      legend {
        color: var(--text-color);
        margin: 0;
        margin-right: 1.5rem;
      }
      label {
        margin: 0;
        margin-right: 1rem;
      }
    }
  }
}
