.toolbar[role='toolbar'] {
  display: flex;
  min-height: 2.25rem;
  align-items: center;
  justify-content: space-between;
}

.toolbar-group {
  display: inline-flex;
  align-items: center;
  min-height: 2.25rem;
  margin: 0 1rem;
}

.toolbar-group[role='radiogroup'] .toolbar-button {
  &:first-child {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }

  &:last-child {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

.toolbar-item:focus {
  box-shadow: 0 0 0 0.125rem var(--highlight-font-color);
}

.toolbar-button {
  padding: 0;
  color: currentColor;
  background-color: unset;
  border: none;

  &:hover {
    background-color: var(--highlight-background-color);
    color: var(--highlight-font-color);
  }

  &[aria-checked='true'] {
    background-color: var(--primary-color);
    color: white;
  }

  &[aria-pressed='true'] {
    .toolbar-button-content {
      min-height: 2.125rem;
      padding-bottom: 0.125rem;
    }
    border-bottom: 0.125rem solid var(--primary-color);
    color: var(--primary-color);
  }

  &[aria-disabled='true'] {
    color: unset;
    cursor: not-allowed;
  }
}

.toolbar-button-content {
  min-width: 2.25rem;
  min-height: 2.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

.toolbar-button-icon,
.toolbar-button-label,
.toolbar-button-label.always,
.toolbar-group.always .toolbar-button-label:not(.never) {
  margin: 0.25rem;
}

// Hide text without removing it from screen readers:
// https://stackoverflow.com/questions/12783419/hide-text-with-css-best-practice
.toolbar-button-label.never,
.toolbar-group.never .toolbar-button-label:not(.always) {
  margin: 0;
  text-indent: -100vw;
  white-space: nowrap;
  overflow: hidden;
}

.toolbar-button-label.always,
.toolbar-group.always .toolbar-button-label:not(.never) {
  text-indent: unset;
  white-space: unset;
  overflow: unset;
}

.toolbar[aria-orientation='vertical'] {
  flex-direction: column;

  .toolbar-button[aria-pressed='true'] {
    .toolbar-button-content {
      min-height: 2.25rem;
      min-width: 2.125rem;
      padding: 0.25rem;
      padding-left: 0.125rem;
    }
    border: none;
    border-left: 0.125rem solid var(--primary-color);
  }
}

.toolbar-group[aria-orientation='vertical'] {
  flex-direction: column;
  margin: 1rem 0;

  &[role='radiogroup'] .toolbar-button {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    &:last-child {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }
}
