.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -0.25rem;

  .btn {
    margin: 0 0.25rem;
  }
}

.btn {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 20px;
  min-width: 20px;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0.25rem;

  &:hover {
    color: var(--text-color-strong);
    background: var(--hover-color);
  }
  &:focus {
    color: var(--text-color-strong);
    background: var(--hover-color);
  }
  &:active {
    color: var(--text-color-strong);
    background: var(--hover-color-alt);
  }
  &[aria-checked='true'] {
    color: var(--accent-color-blue);
  }
  &[aria-pressed='true'] {
    color: var(--accent-color-blue);
  }
  &[aria-disabled='true'],
  &:disabled {
    color: var(--text-color-muted);
    cursor: not-allowed;
    background: transparent;
  }
}

.btn-filled {
  background-color: var(--accent-color-blue);
  color: white;
}

.btn-outlined {
  border: 1px solid currentColor;
  color: var(--accent-color-blue);
}

.btn-minimal,
.btn-filled,
.btn-outlined {
  height: 2rem;
  padding: 0 0.75rem;
}

.btn-icon {
  color: currentColor;
}

.btn-content-icon,
.btn-content-text {
  display: inline-flex;
}
.btn-content-text {
  margin-left: 0.25rem;
}

.btn-content-text.hidden {
  margin: 0;
  text-indent: -100vw;
  white-space: nowrap;
  overflow: hidden;
}
