.btn-group {
  display: flex;
  justify-content: center;

  .btn {
    margin-inline-start: 0.5rem;

    &:first-child {
      margin-inline-start: 0;
    }
  }
}

.btn {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 22px;
  min-width: 22px;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 0.25rem;

  --intent-color: var(--accent-color-blue);

  &:focus {
    color: var(--text-color-strong);
  }
  &:hover {
    color: var(--text-color-strong);
    filter: brightness(90%);
  }
  &:active {
    color: var(--text-color-strong);
    filter: brightness(80%);
  }
  &[aria-checked='true'] {
    color: var(--text-color-strong);
  }
  &[aria-pressed='true'] {
    color: var(--text-color-strong);
  }
  &[aria-disabled='true'],
  &:disabled {
    color: var(--text-color-muted);
    cursor: not-allowed;
    background: transparent;
  }
}

.btn-info {
  --intent-color: var(--accent-color-blue);
}
.btn-success {
  --intent-color: var(--accent-color-green);
}
.btn-warning {
  --intent-color: var(--accent-color-yellow);
  --text-color: rgb(64, 64, 64); // it's too yellow, needs light theme text color
  --text-color-strong: rgb(0, 0, 0);
}
.btn-danger {
  --intent-color: var(--accent-color-red);
}

.btn-minimal {
  background-color: transparent;
}

.btn-filled {
  background-color: var(--intent-color);
  color: var(--text-color);
}

.btn-outlined {
  border: 1px solid currentColor;
  color: var(--intent-color);
}

.btn-minimal,
.btn-filled,
.btn-outlined {
  height: 2rem;
  padding: 0 0.75rem;
}

.btn-icon {
  color: currentColor;
}

.btn-content-icon,
.btn-content-text {
  display: inline-flex;
}
.btn-content-text {
  margin-left: 0.25rem;
}

.btn-content-text.hidden {
  margin: 0;
  text-indent: -100vw;
  white-space: nowrap;
  overflow: hidden;
}
