/* Method to visually hide something but still */
/* keep it available to screen readers */
.visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

[data-message-intent='info'] {
  --accent-color: var(--accent-color-blue);
}

[data-message-intent='success'] {
  --accent-color: var(--accent-color-green);
}

[data-message-intent='warning'] {
  --accent-color: var(--accent-color-yellow);
}

[data-message-intent='danger'] {
  --accent-color: var(--accent-color-red);
}
