.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 20ch;
}

.menuitem {
  display: flex;
  align-items: center;
  min-height: 2rem;
  padding: 0 1rem;
  margin: 0.25rem 0;

  &:hover {
    color: var(--highlight-font-color);
    background: var(--highlight-background-color);
  }

  &:disabled {
    color: var(--text-muted-color);
    cursor: not-allowed;
  }
}

a.menuitem {
  color: var(--text-color);
  text-decoration: none;
  pointer-events: none;
}

.menuitem:hover,
.menu li[role='none']:hover {
  color: var(--highlight-font-color);
  background: var(--highlight-background-color);
}

.menuitem[role='menuitemradio'][aria-checked='true'] {
  color: white;
  background: var(--primary-color);
}

.menuitem[role='menuitemcheckbox'][aria-checked='true'] {
  .menuitem-icon {
    background: currentColor;
    mask-image: url(~resources/icons/checkmark.svg);
    -webkit-mask-image: url(~resources/icons/checkmark.svg);
  }
}

.menu-separator[role='separator'] {
  background: var(--text-muted-color);
  height: 1px;
  margin: 0.5rem 1rem;
}

.menuitem-icon,
.menuitem-accelerator {
  display: inline-flex;
  pointer-events: none;
  align-items: center;
  height: 1rem;
  width: 1rem;

  .custom-icon {
    margin: 0;
  }

  * {
    pointer-events: none;
  }
}

.menuitem-icon {
  margin-right: 0.5rem;
}

.menuitem-accelerator {
  margin-left: 3.5rem;
  flex-grow: 1;
  justify-content: flex-end;
}
