/* using node-style package resolution in a CSS file:  */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html {
  height: 100%;
}

body {
  background: #444444;
  display: flex;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flow-direction: column; 
  height: 100%;
}

.thumbnail {
  --thumbnail-size: 16em;
  transition: all 0.2 ease;
  object-fit: cover;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
}
.thumbnail:hover {
  object-fit: contain;
}

.sidebar {
  width: 150px;
  flex-shrink: 0;
  overflow-x: hidden;
  height: 100%;
  
  background: #333333;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.sidebar h4 {
  padding: 4px;
  margin: 0;
}