body {
  background: #444444;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sidebar {
  background: #666666;
  padding: 1em;
}
.content {
  padding: 1em;
}
.thumbnail {
  --thumbnail-size: 16em;
  transition: all 0.2 ease;
  object-fit: cover;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
}
.thumbnail:hover {
  object-fit: contain;
}