/** Overwriting default Blueprint variables */
$pt-grid-size: 10px;

/* using node-style package resolution in a CSS file:  */
@import "~normalize.css";
@import "~@blueprintjs/core/src/blueprint.scss";

/**
 * Custom CSS
 */
$sidebar-width: 18em;
$thumbnail-size: 16em;

html {
  height: 100%;
}

/* Prevent text selection in all HTML elements for more native feel */
 *, *::after, *::before {
  -webkit-user-select: none;
}

body {
  background: #444444;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.main {
  margin-left: $sidebar-width;
}

.column {
  display: flex;
  flex-direction: column; 
  height: 100%;
}

.thumbnail {
  transition: all 0.1s ease-in-out;
  width: $thumbnail-size;
  height: $thumbnail-size;
  display: inline-block;
  position: relative;
}

.thumbnail img {
  transition: all 0.1s ease-in-out;
  width: $thumbnail-size;
  height: $thumbnail-size;
  object-fit: cover;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform-origin: center;
  transform: scale(1);
}

.thumbnail.selected {
  background: $pt-intent-primary;
}

.thumbnail.selected img {
  transform: scale(0.9);
}

.thumbnail.droppable {
  background: $pt-intent-success;
}

.thumbnail.undroppable {
  background: $pt-intent-warning;
}

.thumbnail.droppable img{
  transform: scale(0.95);
}

.thumbnailTags {
  transition: height 0.1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
}

.thumbnailTags > * {
  margin: 0.5em;
}

.thumbnailSelector {
  opacity: 0.5;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  position: absolute;
  top: 0;
}

.thumbnailSelector.selected {
  opacity: 1;
}

.thumbnailSelector:hover {
  opacity: 1;
}

.sidebar {
  width: $sidebar-width;
  flex-shrink: 0;
  overflow-x: hidden;
  height: 100%;

  position: fixed;
  top: 0;
  
  background: #333333;
}

.sidebar h4 {
  padding: 4px;
  margin: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.fileSelectionHeader {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: calc(100% - $sidebar-width - 2em);
  padding: 1em;
  margin: 0.5em;
  z-index: 10;
  background: #555555;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.fileSelectionHeader .icon {
  cursor: pointer;
  padding: 0.5em;
  margin: -0.5em;
}

.fileSelectionHeader .icon:hover {
  background: #888888;
  border-radius: 100%;
}

.popoverContent {
  padding: 0.5em;
}

.contextMenuTarget {
  outline-color: $pt-intent-primary;
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
}

.bp3-tree-node .reorder-target {
  border-top: 2px solid $pt-intent-primary;
}

.bp3-tree-node .reorder-source {
  opacity: 0.2;
}

// Reduce default padding-left of Blueprint tree rows
// Only divided `$tree-row-height` by 2, doesn't look very nice
// Adjusted from @blueprintjs/core/src/components/tree_tree.scss
$tree-row-height: $pt-grid-size * 3 !default;
$tree-icon-spacing: ($tree-row-height - $pt-icon-size-standard) / 2 !default;
@for $i from 0 through 20 {
  .#{$ns}-tree-node-content-#{$i} {
    padding-left: ($tree-row-height / 2 - $tree-icon-spacing) * $i;
  }
}
