/* using node-style package resolution in a CSS file:  */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";

/**
 * Sass variables, for color parameters etc.
 * Reference: https://blueprintjs.com/docs/#core/variables.color-aliases
 */
@import "~@blueprintjs/core/lib/scss/variables";

html {
  height: 100%;
}

/* Prevent text selection in all HTML elements for more native feel */
 *, *::after, *::before {
  -webkit-user-select: none;
}

body {
  background: #444444;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  --outliner-width: 16em;
  --inspector-width: 24em;
  --toolbar-height: 2.4rem;
  --content-area-height: calc(100vh - var(--toolbar-height));
}

main {
  grid-area: main;
  overflow: auto;
}

#layoutContainer {
  display: grid;
  grid-template-rows: var(--toolbar-height) var(--content-area-height);
  grid-template-columns: min-content 1fr min-content;
  grid-template-areas:
    "toolbar toolbar toolbar"
    "outliner main inspector";
}

#toolbar {
  grid-area: toolbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $black;
}

.thumbnail {
  transition: all 0.1s ease-in-out;
  --thumbnail-size: 24em;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  display: inline-block;
  position: relative;
}

.thumbnail img {
  transition: all 0.1s ease-in-out;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  object-fit: cover;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform-origin: center;
  transform: scale(1);
}

.thumbnail.selected {
  background: $pt-intent-primary;
}

.thumbnail.selected img {
  transform: scale(0.9);
}

.thumbnail.open img {
  outline-color: red;
  outline-width: 5px;
  outline-offset: -5px;
  outline-style: solid;
}

.thumbnail.droppable {
  background: $pt-intent-success;
}

.thumbnail.undroppable {
  background: $pt-intent-warning;
}

.thumbnail.droppable img {
  transform: scale(0.95);
}

.thumbnailTags {
  transition: height 0.1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
}

.thumbnailTags > * {
  margin: 0.5em;
}

nav {
  grid-area: outliner;
  background: #333333;
  overflow: auto;
  flex-shrink: 0;
  width: 0;
  min-width: 0;
  transition: min-width 0.1s ease-out;
}

nav.outlinerOpen {
  min-width: var(--outliner-width);
  width: fit-content;
}

nav h4 {
  padding: 4px;
  margin: 0;
}

.gallery {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.popoverContent {
  padding: 0.5em;
}

#query-overview .bp3-tag {
  margin: 0 0 0.5em 0.5em;
}

#inspector {
  grid-area: inspector;
  overflow: auto;
  flex-shrink: 0;
  width: 0;
  min-width: 0;
  transition: min-width 0.1s ease-out;
}

#inspector.inspectorOpen {
  min-width: var(--inspector-width);
  width: fit-content;
}

#inspector > section {
  border-bottom: 3px solid #181818;
  padding: 1em;
}

.inpectorHeading {
  font-weight: bold;
}

// The fill option of the MultiTagSelect does not work atm. Workaround is to manually set width
#inspector .bp3-popover-target {
  width: 100%;
}

#filePreview > img {
  padding: 0.3em;
  background-color: #333333;
  width: 100%;
  max-height: calc(var(--inspector-width) - 2em);
  object-fit: contain;
}

#fileOverview {
  text-align: center;
}

#fileInfo {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1em;
}

#fileInfo > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileInfoValue {
  text-align: right;
}

#fileTag .bp3-tag {
  margin-bottom: 5px;
  margin-right: 5px;
}

.contextMenuTarget {
  outline-color: $pt-intent-primary;
  outline-width: 2px;
  outline-offset: -2px;
  outline-style: solid;
}

// --outliner-width + --thumbnail-size
@media (max-width: 40em) {
  #inspector.inspectorOpen {
    min-width: 0;
  }
}

// --outliner-width
@media (max-width: 16em) {
  #inspector {
    display: none;
  }

  nav {
    display: none;
  }
}

.error-boundary {
  grid-area: main;
}

.error-boundary .message {
  text-align: left;
  width: 800px;
  max-width: 800px;
}
